@media screen and (min-width: 1500px) {
	
	
	// menu
	
	
	.menu_wrapper span.menu_bar {
		transform: translateX(20px);
		opacity: 0;
		transition: opacity 300ms linear, transform 1200ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	header.visible .menu_wrapper span.menu_bar {
		transform: translateX(0px);
		opacity: 1;
		&:nth-of-type(1) {
			transition-delay: 0ms;
		}
		&:nth-of-type(2) {
			transition-delay: 200ms;
		}
		&:nth-of-type(3) {
			transition-delay: 400ms;
		}
	}
	
	
	.menu_wrapper span.menu_title {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	header.visible .menu_wrapper span.menu_title {
		opacity: 1;
		transition-delay:800ms;
	}
	
	
	// section one
	
	.inner_section_one span.sec_one_content {
		opacity: 0;
		transform: translateY(-50px);
		transition: opacity 800ms linear, transform 1700ms cubic-bezier(.17,.66,.34,.98);
		
	}
	
	
	#section_one.visible .inner_section_one span.sec_one_content {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 1s, 1s;
	}
	
	
	
	.sec_one_form_wrapper span.get_stared_here {
		opacity: 0;
		transform: translateY(-30px);
		transition: opacity 800ms linear, transform 1700ms cubic-bezier(.17,.66,.34,.98);
	}
	
	#section_one.visible .sec_one_form_wrapper span.get_stared_here {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 1500ms, 1500ms;
	}
	
	
	.select_mock_wrapper {
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 800ms linear, transform 1700ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	#section_one.visible .select_mock_wrapper {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 2000ms, 2000ms;
	}
	
	
	
	// section two
	
	
	.sec_two_single {
		a {
			svg#sp_one, svg#sp_two, svg#sp_three {
				transform: translateY(-35px);
				opacity: 0;
				transition: opacity 400ms linear, transform 1100ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	} 
	
	
	#section_two.visible {
		.sec_two_single {
			a {
				svg#sp_one, svg#sp_two, svg#sp_three {
					transform: translateY(0px);
					opacity: 1;
				}
				svg#sp_one {
					transition-delay: 0;
				}
				svg#sp_two {
					transition-delay: 400ms;
				}
				svg#sp_three {
					transition-delay: 600ms;
				}
			}
		}
	}
	
	
	// section three
	
	
	
	
	
	
	.aboutus_img_wrapper {
		transform: translateY(150px);
		transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	#section_three.visible {
		.aboutus_img_wrapper {
			transform: translateY(0px);
		}
	}
	
	
	
	// section_four 
	
	
	
	
	.case_results_single_slide {
		svg#car, svg#heart, svg#steth {
			transform: translateY(-30px);
			transition:transform 1100ms cubic-bezier(.17,.66,.34,.98);
		}
		span.case_amount, span.case_cat {
			transform: translateY(-30px);
			transition:transform 1100ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	#section_four.visible {
		.case_results_single_slide {
			svg#car, svg#heart, svg#steth {
				transform: translateY(0px);
			}
			svg#car {
				transition-delay: 0ms;
			}
			svg#heart {
				transition-delay: 300ms;
			}
			svg#steth {
				transition-delay: 600ms;
			}
			span.case_amount {
				transform: translateY(0px);
			}
			span.case_cat {
				transform: translateY(0px);
			}
		}
		.case_results_single_slide.one {
			span.case_amount {
				transition-delay: 0ms;
			}
			span.case_cat {
				transition-delay: 0ms;
			}
		}
		.case_results_single_slide.two {
			span.case_amount {
				transition-delay: 300ms;
			}
			span.case_cat {
				transition-delay: 300ms;
			}
		}
		.case_results_single_slide.three {
			span.case_amount {
				transition-delay: 600ms;
			}
			span.case_cat {
				transition-delay: 600ms;
			}
		}
	}
	
	// section five
	
	
	
	.sec_five_img_wrapper {
		&:before, img {
			transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
		}
		&:before {
			transform: translateY(80px);
		}
		img {
			transform: translateY(-80px);
		}
	}
	
	
	#section_five.visible {
		.sec_five_img_wrapper {
			&:before {
				transform: translateY(0px);
			}
			img {
				transform: translateY(0px);
			}
		}
	}
	
	
	.sec_five_blockquote svg#gold_pattern {
		transform: translateX(60px);
		transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	#section_five.visible .sec_five_blockquote svg#gold_pattern {
		transform: translateX(0px);
	}
	
	
	// section six
	
	
	.reviews_img_wrapper {
		&:after, img {
			transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
		}
		&:after {
			transform: translateY(70px);
		}
		img {
			transform: translateY(-70px);
		}
	}
	
	
	#section_six.visible {
		.reviews_img_wrapper {
			&:after, img {
				transform: translateY(0px);
			}
		} 
	}
	
	
	// footer trigger
	
	
	
	.location_left {
		&:after, img {
			transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
		}
		&:after {
			transform: translateY(90px);
		}
		img {
			z-index:1;
			position: relative;
			transform: translateY(-90px);
		}
		
	}
	
	.location_right svg#teal_pattern {
		position: relative;
		z-index: 1;
		transform: translateX(60px);
		transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	
	.footer_location_wrapper.visible {
		.location_left {
			&:after, img {
				transform: translateY(0px);
			}
		}
		.location_right svg#teal_pattern {
			transform: translateX(0px);
		}
	}
	
	
	
	
	
	// att bio
	
	
	
	.att_bio_image {
		&:after, img {
			transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
		}
		&:after {
			transform: translateY(55px);
		}
		img {
			transform: translateY(-55px);
		}
	}
	
	
	
	#att_trigger.visible {
		.att_bio_image {
			&:after, img {
				transform: translateY(0px);
			}
		}
	}
	
	
	
	.att_excerpt_content .att_excerpt_content_inner svg {
		transform: translateX(50px);
		transition: all 1400ms cubic-bezier(.17,.66,.34,.98);
	}
	
	
	
	#att_trigger.visible .att_excerpt_content .att_excerpt_content_inner svg {
		transform: translateX(0px);
	}

	
	
	
	
} /* Media Query */


	
	// scroll to top 
	
	.scroll_to_top a.scroll_link svg {
		animation-name: scroll_arrow;
	  animation-duration: 2000ms;
	  animation-fill-mode: both;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	  position: relative;
	  top:-5px;
	}
	


	
	@keyframes scroll_arrow {
	  0 {
	    transform: translateY(-50px);
	 		
	  }
	
	  50% {
	    
	    transform: translateY(10px);
	  }
	  100% {
		  transform: translateY(0px);
	  }
	}
	
	
	
	



