
.footer_location_inner {
	display: flex;
	position: relative;
}


.location_left {
	flex-basis:1105px;
	margin-top:-200px;
	&:after {
		content:"";
		width:500px;
		height:689px;
		background: $gold;
		display: block;
		max-width:916px;
		width:90%;
	}
	.copyright_wrapper {
		float:right;
		margin:120px 0 0 60px;
		img.att_image.desktop {
			
		}
		img.att_image.mobile {
			display: none;
		}
		img.att_image {
			display: block;
			max-width: 100%;
			height:auto;
		}
		a.ilawyer {
			margin-top:40px;
			display: inline-block;
			svg {
				width:236px;
				height:auto;
				.laptop_image-cls-1 {
					fill:#000;
				}
			}
		}
		ul {
			list-style: none;
			margin:15px 0 40px;
			display: block;
			
			li {
				display: inline-block;
				font-family: $mulisemibold;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: 0.055em;
				margin:0 20px 0 0;
				br {
					display: none;
				}
				a {
					color:#000;
					transition: all .2s ease-in-out;
					text-decoration: none;
					&:hover {
						color:$gold;
					}
				}
			}
		}
	}
}




.location_right {
	padding:163px 0 0 6%;
	flex-grow: 1;
	
	svg#teal_pattern {
		width:337px;
		display:block;
		margin-bottom:42px;
		margin-left:-232px;
	}
	a.address, a.tel {
		font-family: $actamedium;
		font-size:40px;
		line-height: 50px;
		color:$bluedark;
		text-decoration: none;
		display: block;
		transition: all .2s ease-in-out;
		&:hover {
			color:$teal;
		}
	}
	a.address {
		max-width:377px;
		
	}
	a.tel {
		margin:25px 0 0 0;
	}
	a.directions {
		color:$gold;
		display: inline-block;
		margin:45px 0 0;
		text-transform: lowercase;
		font-family: $ats;
		font-size:35px;
		text-decoration: none;
		transition: all .2s ease-in-out;
		&:after {
			content:"";
			width:100%;
			height:2px;
			background: $gold;
			display: block;
			transition: all .2s ease-in-out;
		}
		&:hover {
			color:$teal;
			&:after {
				background:$teal;
			}
		}
	}
}


.social_wrapper {
	position: absolute;
	bottom:0;
	right:30px;
	margin:0 0 34px;
	a {
		text-decoration: none;
		display: inline-block;
		margin:0 0 0 28px;
		&:hover {
			svg {
				path {
					fill:$teal;
				}
			}
		}
		svg {
			height:16px;
			path {
				fill:#111627;
				transition: all .2s ease-in-out;
			}
		}
		svg#google {
			
		}
		svg#facebook {
			
		}
		svg#twitter {
			
		}
		svg#linkedin {
			
		}
	}
}

.social_icons {
	display: inline;
	position: relative;
	top:20px;
}

.scroll_to_top {
	display: inline-block;
	a.scroll_link {
		display: block;
		background: #f2eeea;
		width:80px;
		height:80px;
		display: inline-block;
		margin-left:20px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $bluedark;
			svg {
				.arrow-cls-1{
					stroke:#fff;
				}
			}
		}
		svg {
			height:39px;
			width:auto;
			margin:20px 0 0 32px;
			.arrow-cls-1{
				fill:none;
				stroke:#282d33;
				stroke-width:2px;
				transition: all 200ms ease-in-out;
			}
		}
	}
}


.tablet_center {
	display: inline;
}



.copyright_mobile {
	display: none;
}


@media screen and (max-width: 1683px) {
	
	
	.location_left {
		flex-basis: auto;
		margin-top: -152px;
		.copyright_wrapper {
			margin: 95px 0 0 60px;
		}
	}
	
	
	.location_right {
		flex-basis:580px;
		flex-shrink: 0;
		padding: 65px 0 0 6%;
		a.directions {
			margin: 38px 0 0;
		}
		svg#teal_pattern {
    	margin-bottom: 45px;
			margin-left: -196px;
  	}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1565px) {
	
	
	
	.location_left {
		&:after {
			height: 629px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1460px) {
	
	
	
	
	.location_left {
		&:after {
			height: 533px;
		}
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1290px) {
	
	
	
	.location_left {
		&:after {
			height: 427px;
		}
		.copyright_wrapper {
			margin-left:35px;
			ul {
				li {
					margin: 0 8px 0 0;
				}
			}
		}
	}
	
	
	
	.location_right {
		padding-left:64px;
		padding-top:58px;
		svg#teal_pattern {
    	margin-bottom: 26px;
    	margin-left:-175px;
    }
		a.address {
			max-width: 287px;
		}
		a.address, a.tel {
			font-size:29px;
			line-height: 41px;
		}
		a.tel {
			margin: 18px 0 0 0;
		}
		a.directions {
			font-size:30px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1220px) {
	
	
	.location_left {
		.copyright_wrapper {
			ul {
				max-width: 425px;
				li {
					margin-bottom:5px;
					br {
						
						
					}
				}
			}
		} 
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1140px) {
	

	
	.location_left {
		margin-top: -104px;
		&:after {
			height: 327px;
		}
		.copyright_wrapper {
			margin: 52px 0 0 36px;
				
		}
	}
	

	
} /* Media Query */




@media screen and (max-width: 1066px) {
	
	
	.footer_location_inner {
		// height:697px;
		position: relative;
	}

	


	
	.location_left {
		flex-basis: 50%;
		flex-shrink:0;
		&:after {
			max-width: 417px;
			height: 356px;
		}
		.copyright_wrapper {
			

			img.att_image.desktop {
				display: none;
			}
			img.att_image.mobile {
				display: block;
				width: 100%;
				height:auto;
				max-width:450px;
			}	

		}
	}
	
	
	
	.location_right {
		flex-basis: auto;
		flex-grow: 1;
		svg#teal_pattern {
    	margin-bottom: 30px;
		}
		a.directions {
    	margin-top:31px;
		}
	}
	


.social_wrapper {
	width:100%;
	display: flex;
	justify-content: space-between;
	bottom:auto;
	top:auto;
	position:static;
	right:0px;
	margin: 52px 0 42px;
	a {
		margin:0 15px;
		svg {
			height: 20px;
		}
	}
}

 
.social_icons, .scroll_to_top {
	display: block;
}

.scroll_to_top {
	margin-right:36px;
}



.tablet_center {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	height:100%;
	width:100%;
	max-width:450px;
	

}


.social_icons {
	flex-basis: 50%;
	top:6px;
	//text-align: center;
	a {
		
	}
}



.copyright_desktop {
	display: none;
}

.copyright_mobile {
	padding:0 36px;
	display: block;
	text-align: center;
	.copyright_mobile_inner {
		border-top:1px solid #ececec;
	}
	a.ilawyer {
			margin-top:34px;
			display: inline-block;
			svg {
				width:236px;
				height:auto;
				.laptop_image-cls-1 {
					fill:#000;
				}
			}
		}
	ul {
		
			list-style: none;
			margin:15px auto 40px;
			display: block;
			max-width: 425px;
			li {
				display: inline-block;
				font-family: $mulisemibold;
				font-size: 13px;
				line-height: 18px;
				letter-spacing: 0.055em;
				margin:0 20px 0 0;
				br {
					display: none;
				}
				a {
					color:#000;
					transition: all .2s ease-in-out;
					text-decoration: none;
					&:hover {
						color:$gold;
					}
				}
			}
		}
	
}
	
		
	
} /* Media Query */


@media screen and (max-width: 971px) {
	
	
.tablet_center {
	margin-left:36px;
	float:left;
	width:calc(100% - 36px);
	
}
	
	
	
	
} /* Media Query */





@media screen and (max-width: 767px) {
	
	.footer_location_inner {
		display: block;
	}
	
	.location_left {
		display: none;
	}
	
	.location_right {
		text-align: center;
		padding-left:0;
		padding-top: 44px;
		svg#teal_pattern {
			display: none;
		}
		a.address {
			margin-left:auto;
			margin-right:auto;
		}
		a.address, a.tel {
			font-size:27px;
			line-height: 39px;
		}
	}
	
	
	.scroll_to_top {
		display: none;
	}
	
	.social_wrapper {
		display: block;
		margin: 52px 0 32px;
		a {
			svg {
				height:16px;
			}
		}
	}
	
	.tablet_center {
		width:100%;
		margin:0;
		float:none;
		display: block;
		text-align: center;
		max-width:100%;
	}
	
	.social_icons {
		
	}
	
	
	.copyright_mobile {
		padding:0 20px;
		a.ilawyer {
    	margin-top: 29px;
			display: inline-block;
		}
		ul {
			 margin: 11px auto 40px;
			 max-width: 285px;
			 li {
				 line-height: 16px;
				 &:first-of-type {
					 margin-right:0;
				 }
				 br {
					 display: inline-block;
				 }
			 }
		}
	}
	
	
   
	
} /* Media Query */
