footer {
	position: relative;
}

.form_outer {
	background: $bluedark;
	padding-bottom:280px;
}


.form_inner {
	max-width:1354px;
	padding:0 67px;
	margin:0 auto;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	span.free_title {
		font-family: $ats;
		color:#c08e4e;
		font-size:180px;
		line-height: 180px;
		letter-spacing: -0.015em;
		text-transform: lowercase;
		display: block;
		text-align: center;
		padding:162px 0 0;
		max-width:745px;
		margin:0 auto;
	}
	span.my_required {
		color:#fff;
		text-transform: uppercase;
		font-family: $muliblack;
		font-size:11px;
		letter-spacing: 0.5em;
		margin:-55px 0 0;
		display: block;
		span {
			color:$teal;
			display: inline-block;
			margin-right:7px;
		}
	}
}


footer {
	.gform_wrapper {
		margin: -36px 0 0;
		ul {
			li.input_has_value.clicked {
				label {
					border-bottom:4px solid transparent;
					
				}
				input, textarea {
					border-bottom:4px solid transparent;
					padding-left:23px;
				}
			}
			li.input_has_value {
				label {
					padding-top:0;
					border-bottom:4px solid transparent;
				}
				input, textarea {
					opacity: 1;
					border-bottom:4px solid $teal;
					padding-left:0px;
				}
			}
			li.clicked {
				label {
					position: relative;
					padding-top:0;
					border-bottom: 4px solid transparent;
					transition-delay: 0ms, 200ms;
				}
				input,textarea {
					opacity: 1;
					transition-delay: 600ms;
					background: $bluedark;
					box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);

				}
			}
		}
	}
}


		
footer {
	.gform_wrapper {
		margin:25px 0 0;
		&:after {
				content:"";
				clear:both;
				display: block;
			}
		.gfield_description, .validation_message {
			top:117px;
			position: absolute;
		}
		input[type="submit"] {
			background: $teal;
			border:none;
			color:#fff;
			font-family: $actabold;
			font-size:25px;
			letter-spacing: 0.05em;
			text-transform: lowercase;
			float:right;
			padding:25px 50px;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $gold;
			}
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			
			li#field_1_5 {
				flex-basis: 100%;
				height: 127px;
				margin-bottom:32px;
				label {
					padding-top:0;
					
					height: 127px;
				}
				textarea {
					padding-top:15px;
					height: 93px;
				}
			}
			li {
				width:100%;
				margin:0 0 40px;
				flex-basis:23.75%;
				position: relative;
				height: 103px;
				label {
					font-size:18px;
					font-family: $muliextrabold;
					letter-spacing: 0.05em;
					border-bottom:4px solid #fff;
					color:#fff;
					display: block;
					position: absolute;
					pointer-events: none;
					top:0;
					left:0;
					width:100%;
					height: 103px;
					padding-top:61px;
					z-index:3;
					transition: padding 700ms cubic-bezier(.17,.66,.34,.98), border 300ms linear;
					span.gfield_required {
						color:$teal;
						display: inline-block;
						margin-left:6px;
					}
				}
				.ginput_container {
					position: absolute;
					top:31px;
					left:0;
					width:100%;
				}
				input, textarea {
					background: transparent;
					border:none;
					border-bottom:4px solid transparent;
					width:100%;
					font-size: 30px;
					font-family:$actabookitalic;
					color:#fff;
					padding:4px 0 0 23px;
					transition: opacity 300ms linear;
					opacity: 0;
					height:72px;
				}
				
				select {
					background: transparent;
					border:none;
					border-bottom:4px solid #fff;
					width:100%;
					-webkit-appearance: none;
					border-radius:0;
				}
			}
		}
	}
}


.validation_error {
	display: none;
}



.gfield_description, .validation_message {
	color:#fff;
	font-family: $muliblack;
	color:#fff;
	font-size:11px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}



@media screen and (max-width: 1450px) {
	
	
	footer .gform_wrapper {
    margin: 13px 0 0;
	}
	
	.form_outer {
		padding-bottom: 226px;
	}
	
	.form_inner {
	
		span.free_title {
			font-size:150px;
			line-height: 150px;
		}
	
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	
	footer {
	
}

.form_outer {
	padding-bottom: 166px;
}


.form_inner {
	
	span.free_title {
		padding: 110px 0 0;
		font-size:140px;
		line-height: 140px;
		max-width:570px;
		margin-left:auto;
		margin-right:auto;
	}
	span.my_required {
		margin: -52px 0 0;
		span {
			
		}
	}
}



footer {
	.gform_wrapper {
		
		ul {
			li.input_has_value.clicked {
				label {
					
					
				}
				input, textarea {
					border-bottom: 4px solid $teal;
					padding-left:0;
				}
			}
			li.input_has_value {
				label {
					
				}
				input {
					
					
				}
			}
			li.clicked {
				label {
					border-bottom:4px solid $teal;
				}
				input,textarea {
					box-shadow:none;
					border-bottom: 4px solid $teal;
				}
			}
		}
	}
}






footer {
	.gform_wrapper {
		margin: 32px 0 0;
		.gfield_description, .validation_message {
			top: 76px;
		}
		input[type="submit"] {
			font-size:20px;
			padding: 22px 47px;
			&:hover {
				
			}
		}
		ul {
			
			li#field_1_5 {
				margin-top:30px;
// 				background:red;
				height:98px;
				.ginput_container {
					 top: 29px;
				}
				label {
					height:98px;
					//background: red;
				}
				textarea {
					height: 69px;
					padding-top: 18px;
					//background: blue;
				}
			}
			li {
				flex-basis:48.5%;
				margin-bottom:20px;
				height: 70px;
// 				height: 103px;
				label {
					font-size:16px;
					// background: red;
					height: 70px;
					padding-top: 40px;
					span.gfield_required {
						
					}
				}
				.ginput_container {
					 top: 25px;
				}
				input, textarea {
					font-size:26px;
					//background:blue;
					height: 45px;
					padding-left:0px;
				}
				
				select {
					
				}
			}
		}
	}
}



	
	
} /* Media Query */





@media screen and (max-width: 767px) {
	
	
	
	.form_outer {
    padding-bottom: 165px;
	}
	
	
	
.form_inner {
	padding-left:31px;
	padding-right:31px;
	max-width:530px;
	span.free_title {
		font-size:70px;
		line-height: 70px;
		max-width:320px;
		display: block;
		padding: 68px 0 0;
	}
	span.my_required {
		margin: -110px 0 0;
		span {
			
		}
	}
}





footer {
	.gform_wrapper {
		
		.gfield_description, .validation_message {
			
		}
		input[type="submit"] {
			float:none;
			display: block;
			width:100%;
			max-width:259px;
			margin-left:auto;
			margin-right:auto;
			margin-top:30px;
			&:hover {
				
			}
		}
		ul {
			
			li#field_1_5 {
				height: 81px;
				.gfield_description, .validation_message {
					top: 97px;
					right:0;
				}
				.ginput_container {
					 
				}
				label {
					// background:blue;
					height: 81px;
				}
				textarea {
					height: 52px;
					
				}
			}
			li {
				flex-basis: 100%;
// 				background:blue;
				margin-bottom: 14px;
				label {
					font-size:15px;
					span.gfield_required {
						
					}
				}
				.ginput_container {
					
				}
				input, textarea {
					
				}
				
				select {
					
				}
			}
		}
	}
}


	
	
	
	
} /* Media Query */

