.form_overlay_wrapper {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.73);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-in-out;
	padding:0 65px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


.form_overlay_inner {
	width:100%;
	max-width:1275px;
	margin:65px auto;
	background: #fff;
	display: flex;
	position: relative;
	
}


.form_overlay_wrapper.open {
	opacity: 1;
	visibility: visible;
	transition-delay: 400ms;
}


.form_overlay_close {
	width:86px;
	height:75px;
	background: $gold;
	position: absolute;
	top:0;
	left:0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $teal;
	}
	&:before, &:after {
		content:"";
		width:100%;
		max-width: 40px;
		height:2px;
		background: #fff;
	}
	&:before {
		transform: rotate(45deg);
		transform-origin: 22px -2px 0;
	}
	&:after {
		transform: rotate(-45deg);
		transform-origin: 14px 1px 0;
	}
}


.form_overlay_left {
	background: url(#{$themePath}images/form_cactus.jpg) top center no-repeat;
	background-size:cover;
	flex-grow: 1;
}


.form_overlay_right {
	flex-basis: 58%;
	flex-shrink:0;
	padding:0 68px;
	span.free {
		color:$gold;
		text-align: center;
		display: block;
		font-family: $ats;
		text-transform: lowercase;
		font-size:115px;
		max-width: 460px;
		margin:130px auto 0;
	}
}




.form_overlay_right {
	.gform_wrapper {
		
		ul {
			li#field_2_5.clicked, li#field_2_5.input_has_value {
				label {
					padding-top:0;
				}
			}
			li.input_has_value.clicked {
				label {
					border-bottom:4px solid $teal;
					
				}
				input, textarea {
					border-bottom:4px solid $teal;
					padding-left:0px;
				}
			}
			li.input_has_value {
				label {
					padding-top:0;
					border-bottom:4px solid $teal;
				}
				input, textarea {
					opacity: 1;
					border-bottom:4px solid $teal;
					padding-left:0px;
				}
			}
			li.clicked {
				label {
					position: relative;
					padding-top:0;
					border-bottom: 4px solid $teal;
					transition-delay: 0ms, 200ms;
				}
				input,textarea {
					opacity: 1;
					transition-delay: 600ms;
				}
			}
		}
	}
}






		
.form_overlay_right {
	padding-bottom:85px;
	.gform_wrapper {
		margin: 48px 0 0px;
		&:after {
				content:"";
				clear:both;
				display: block;
			}
		.gfield_description, .validation_message {
			top:90px;
			position: absolute;
			color:$bluedark;
		}
		input[type="submit"] {
			background: $teal;
			box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
			border:none;
			color:#fff;
			font-family: $actabold;
			font-size:25px;
			letter-spacing: 0.05em;
			text-transform: lowercase;
			float:right;
			padding:25px 50px;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $gold;
			}
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li#field_2_5 {
				flex-basis: 100%;
				height: 121px;
				margin-bottom:32px;
				margin-top:0px;
				.gfield_description, .validation_message {
					top:125px;
				}
				label {
					padding-top:30px;
					height: 116px;
				}
				textarea {
					padding-top:15px;
					height: 90px;
				}
			}
			li {
				width:100%;
				margin: 0 0 34px;
				flex-basis:48%;
				position: relative;
				height: 83px;
				label {
					font-size:18px;
					font-family: $muliextrabold;
					letter-spacing: 0.05em;
					border-bottom:4px solid #ebe8e5;
					color:$bluedark;
					display: block;
					position: absolute;
					pointer-events: none;
					top:0;
					left:0;
					width:100%;
					height: 83px;
					padding-top:45px;
					z-index:3;
					transition: padding 700ms cubic-bezier(.17,.66,.34,.98), border 300ms linear;
					span.gfield_required {
						color:$teal;
						display: inline-block;
						margin-left:6px;
					}
				}
				.ginput_container {
					position: absolute;
					top: 26px;
					left:0;
					width:100%;
				}
				input, textarea {
					background: transparent;
					border:none;
					border-bottom:4px solid transparent;
					width:100%;
					font-size: 30px;
					font-family:$actabookitalic;
					color:$bluedark;
					padding:4px 0 0 0px;
					transition: opacity 300ms linear;
					opacity: 0;
					height: 57px;
				}
				
				select {
					background: transparent;
					border:none;
					border-bottom:4px solid #fff;
					width:100%;
					-webkit-appearance: none;
					border-radius:0;
				}
			}
		}
	}
	span.my_overlay_required {
		text-transform: uppercase;
		color:$bluedark;
		font-family: $muliblack;
		font-size:11px;
		letter-spacing: 0.5em;
		margin:-57px 0 0;
		display: block;
		span {
			color:$teal;
			display: inline-block;
			margin-right:7px;
		}
	}
	
}


@media screen and (max-width: 1066px) {
	


.form_overlay_wrapper {
	padding:0;
}
	
.form_overlay_inner {
	width:100%;
	max-width:100%;
	margin:0px auto;
	background: #fff;
	display: flex;
	position: relative;
	height: 100%;
}


.form_overlay_left {
	display: none;
}


.form_overlay_right {
	flex-basis: 100%;
}






.form_overlay_right {
	.gform_wrapper {
		
		ul {
			li#field_2_5.clicked, li#field_2_5.input_has_value {
				label {
					
				}
			}
			li.input_has_value.clicked {
				label {
					
					
				}
				input, textarea {
					
				}
			}
			li.input_has_value {
				label {
				
				}
				input, textarea {
					
				}
			}
			li.clicked {
				label {
					
				}
				input,textarea {
					
				}
			}
		}
	}
}






		
.form_overlay_right {
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	.gform_wrapper {
		
		&:after {
				
			}
		.gfield_description, .validation_message {
			
		}
		input[type="submit"] {
			font-size:21px;
			padding: 22px 50px;
			margin-top: -6px;
			&:hover {
				
			}
		}
		ul {
			
			li#field_2_5 {
				
				.gfield_description, .validation_message {
					
				}
				label {
					
				}
				textarea {
					
				}
			}
			li {
				margin: 0 0 26px;
				label {
					font-size:16px;
					span.gfield_required {
						
					}
				}
				.ginput_container {
					
				}
				input, textarea {
					font-size:26px;
				}
				
				select {
					
				}
			}
		}
	}
	span.my_overlay_required {
		
		span {
			
		}
	}
	
}


	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
	
	
.form_overlay_close {
	height:57px;
	width: 72px;
}	
	
.form_overlay_right {
	.gform_wrapper {
		
		ul {
			li#field_2_5.clicked, li#field_2_5.input_has_value {
				label {
					
				}
			}
			li.input_has_value.clicked {
				label {
					
					
				}
				input, textarea {
					
				}
			}
			li.input_has_value {
				label {
				
				}
				input, textarea {
					
				}
			}
			li.clicked {
				label {
					
				}
				input,textarea {
					
				}
			}
		}
	}
}






		
.form_overlay_right {
	padding-left:43px;
	padding-right:43px;
	span.free {
	  font-size: 80px;
	  max-width: 430px;
	  margin: 75px auto 0;
	}	
	.gform_wrapper {
		margin: 15px 0 0px;
		&:after {
				
			}
		.gfield_description, .validation_message {
			
		}
		input[type="submit"] {
			margin-top: 31px;
			float:none;
			margin-left:auto;
			margin-right:auto;
			padding: 22px 95px;
			display: block;
			&:hover {
				
			}
		}
		ul {
			
			li#field_2_5 {
				
				.gfield_description, .validation_message {
					
				}
				label {
					
				}
				textarea {
					
				}
			}
			li {
				flex-basis: 100%;
				margin: 0 0 13px;
				label {
					
					span.gfield_required {
						
					}
				}
				.ginput_container {
					
				}
				input, textarea {
					
				}
				
				select {
					
				}
			}
		}
	}
	span.my_overlay_required {
		margin: -115px 0 0;
		span {
			
		}
	}
	
}



	
	
	
} /* Media Query */



@media screen and (max-width: 405px) {
	
	.form_overlay_right {
		span.free {
			 font-size: 63px;
		}
	}
	
	   
	
	
	
	
} /* Media Query */
