.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}


h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 300;
}


body:not(.page-template-page-home) {
	.content {
		line-height: 30px;
		h3 {
			
		}
		blockquote {
			&:before {
				margin-left:-30px;
			}
		}
	}
}
	




body.single {
	.content {
		h1.default_intro {
			font-size: 58px;
			line-height: 67px;
		}
	}
}


.sec_five_col_wrapper { // max 3 h2s on the homepage, the other two were converted to divs
	div {
		color:$gold;
		font-family: $muliblack;
		font-size:20px;
		line-height: 30px;
		letter-spacing: 0.05em;
		padding:0px 0 28px;
		display: block;
	}
}



.content {
	font-family: $mulireg;
	font-size: 17px;
	line-height: 35px;
	color:#616466;
	h1.default_intro {
		color:$teal;
		font-family: $actamedium;
		font-size:85px;
		line-height: 90px;
		margin-bottom:55px;
	}
	h2 {
		color:$gold;
		font-family: $muliblack;
		font-size:20px;
		line-height: 30px;
		letter-spacing: 0.05em;
		padding:0px 0 28px;
		display: block;
	}
	h3 {
		
		text-transform: uppercase;
		font-family: $muliblack;
		font-size:16px;
		line-height: 24px;
		letter-spacing: 0.2em;
		padding:0px 0 15px;
		display: block;
		color:$teal;
	}
	p, ul {
		margin-bottom:32px;
	}
	a {
		color:$teal;
		text-decoration: none;
	}
	ol {
		list-style: none;
		counter-reset: item;
		margin-bottom:45px;
		> li {
			counter-increment: item;
			margin-bottom:25px;
			position: relative;
			padding-left:23px;
 		}
 		> li:before {
 				margin-right: 10px;
 				content: counter(item)".";
 				color: $teal;
 				width: 30px;
 				display: inline-block;
 				font-family: $muliextrabold;
 				position: absolute;
 				top:0;
 				left:0;
 			}
	}
	ul {
		list-style: none;
		li {
			display: block;
			position: relative;
			padding-left:20px;
			margin-bottom:10px;
			&:before {
				content:"";
				display: block;
				width:6px;
				height:6px;
				background: $teal;
				border-radius: 50%;
				position: absolute;
				top:12px;
				left:0;
			}
		}
	}
	blockquote {
		color:$gold;
		font-size: 38px;
		font-family:$actamedium;
		line-height: 60px;
		padding:20px 0 43px;
		p {
			margin-bottom:0;
		}
		&:before {
			content:"";
			width:118px;
			height:27px;
			background: url(#{$themePath}images/new_pattern.svg) top left no-repeat;
			display: block;
			margin-bottom:28px;
		}
	}
}


h1.no_banner_header {
	color:$gold;
	text-transform: lowercase;
	font-family: $ats;
	font-size:150px;
	line-height: 150px;
	letter-spacing: -0.015em;
	text-align: center;
	display: block;
	margin:157px 0 0;
}



@media screen and (max-width: 1445px) {
	
	
h1.no_banner_header {
	margin:68px 0 0;
}

	
	
	
} /* Media Query */


@media screen and (max-width: 1350px) {
	
	
.content {
	h1.default_intro {
		font-size: 70px;
		line-height: 75px;
		margin-bottom: 39px;
	}
}
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	
.content {
	h1.default_intro {
		font-size: 63px;
		line-height: 68px;
		margin-bottom: 30px;
	}
}
	
	
} /* Media Query */

@media screen and (max-width: 1066px) {
	
	
	
	h1.no_banner_header {
		margin:0px 0 0;
		font-size:102px;
		line-height: 102px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	


body:not(.page-template-page-home) {
	.content {
		line-height: 30px;
		h3 {
			
		}
		blockquote {
			font-size:29px;
			line-height: 44px;
			padding: 14px 0 30px;
			&:before {
				margin-left:0;
				margin-bottom: 21px;
			}
		}
	}
}



body.single {
	.content {
		h1.default_intro {
			font-size: 48px;
			line-height: 60px;
		}
	}
}



.content {
	h1.default_intro {
		font-size: 50px;
		line-height: 56px;
		margin-bottom: 25px;
	}
	
}




	h1.no_banner_header {
		margin:0px 0 0;
		font-size:90px;
		line-height: 83px;
	}




	
	
} /* Media Query */





@media screen and (max-width: 400px) {
	
	
.content {
	h1.default_intro {
		font-size: 42px;
		line-height: 47px;
		margin-bottom: 25px;
	}
	
}
	
	
	
	
	
	
	
} /* Media Query */