header {
	width:100%;
	display: flex;
	position: absolute;
	justify-content: space-between;
}


.header_left {
	background: #fff;
	padding:38px 35px;
}


a.logo {
	svg {
		width:490px;
		height:auto;
		path {
			fill:#000;
		}
	}	
}



.header_right {
	display: flex;
	
}


.phone_wrapper {
	margin:44px 31px 0 0;
	span.free {
		display: block;
		color:$gold;
	}
	a.phone {
		color:#fff;
		text-decoration: none;
		font-family: $actabold;
		font-size:32px;
	}
}
	
	
	.menu_wrapper {
		background: $gold;
		height:84px;
		width:95px;
		text-align: center;
		padding:23px 21px 0;
		margin:22px 47px 0 0;
		span.menu_bar {
			width:100%;
			height:3px;
			background: #fff;
			display: block;
			margin-bottom:6px;
		}
		span.menu_title {
			color:#fff;
			font-size:14.5px;
			font-family: $muliblack;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			display: block;
			padding-top:5px;
		}
	}