header {
	width:100%;
	display: flex;
	position: absolute;
	justify-content: space-between;
	z-index: 5;
}


.header_left {
	background: #fff;
	padding:38px 35px;
}


a.logo {
	svg {
		width:490px;
		height:auto;
		path {
			fill:#000;
		}
	}	
}



.header_right {
	display: flex;
	
}


.phone_wrapper {
	margin: 29px 31px 0 0;
	span.free {
		display: block;
		color:$gold;
		font-family: $ats;
		text-transform: lowercase;
		font-size:37px;
		letter-spacing: 0.02em;
		
	}
	a.phone {
		color:#fff;
		text-decoration: none;
		font-family: $actabold;
		font-size:32px;
		
	}
}
	
	
	.menu_wrapper {
		background: $gold;
		height:84px;
		width:95px;
		text-align: center;
		padding:23px 21px 0;
		margin:22px 47px 0 0;
		cursor: pointer;
		span.menu_bar {
			width:100%;
			height:3px;
			background: #fff;
			display: block;
			margin-bottom:6px;
		}
		span.menu_title {
			color:#fff;
			font-size:14.5px;
			font-family: $muliblack;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			display: block;
			padding-top:5px;
		}
	}
	
	
	.mobile_nav {
		display: none;
	}
	
@media screen and (max-width: 1450px) {
	
	
	
	.menu_wrapper {
		margin-right:31px;
	}
	
	
.phone_wrapper {
	span.free {
		letter-spacing: 0;
		font-size: 35px;
		margin-left:19px;
	}
}
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1150px) {
	
	header {
		height: 82px;
		position: relative;
	}
	
	.header_left {
		padding: 34px 27px;
		flex-grow:1;
		
	}
	
	
	.header_right {
		background: #fff;
	}
	
	
	a.logo {
		svg {
			width:352px;
		}
	}
	
	
	.phone_wrapper {
		margin: 14px 20px 0 0;
		span.free {
			font-size:30px;
		}
		a.phone {
			color:$bluedark;
			font-size:27px;
		}
	}
	
	
	.menu_wrapper {
		margin:0;
		height:100%;
		padding: 18px 21px 0;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	header {
		flex-direction: column;
		height: auto;
	}
	
	.header_left, .header_right {
		flex-grow: 0;
		flex-basis: 100%;
		flex-shrink:0;
	}
	
	.header_left {
		text-align: center;
		//padding-bottom:22px;
		height:73px;
		padding-top:28px;
	}
	
	
	.header_right {
		display: flex;
		height:75px;
		
	}
	
	
	.phone_wrapper {
			flex-grow:1;
			text-align: center;
			background:#ebe8e5;
			margin:0;
			order:2;
			span.free {
				display: none;
			}
			a.phone {
				margin-top:25px;
				display: block;
				margin-left:-89px;
			}
		}
	
	
	a.logo {
		display: block;
		svg {
			width:100%;
			max-width:270px;
			
		}
	}
	
	
	.menu_wrapper {
		order:1;
		width: 89px;
		span.menu_title {
			font-size: 12.5px;
			padding-top:0;
		}
	}
	
	.mobile_nav.visible {
		opacity: 1;
		visibility: visible;
	}
	
	.mobile_nav {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		z-index: 5;
		height:74px;
		display: flex;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
		.menu_wrapper {
			order:1;
		}
	}
	
	.mobile_tel {
		flex-grow:1;
		order:2;
		a {
			display: block;
			background: #ebe8e5;
			height:100%;
			display: flex;
			justify-content: center;
			svg {
				width:55px;
				.new_phone-cls-1,.new_phone-cls-2{
					fill:none;
					stroke:$teal;
					stroke-miterlimit:10;
				}
				.new_phone-cls-1{
					stroke-linecap:round;
				}
			}
		}
	}
	
	.mobile_email {
		flex-grow:1;
		order:3;
		background: $teal;
		display: flex;
		justify-content: center;
		svg {
				width:53px;
				.mobile_email-cls-1{
					fill:none;
					stroke:#fff;
					stroke-miterlimit:10;
				}
			}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 427px) {
	
	
		.phone_wrapper {
			
			span.free {
				
			}
			a.phone {
				text-align: left;
				margin-left:25px;
			}
		}

	
	
	
	
} /* Media Query */
	
	
	
	