header {
	width:100%;
	display: flex;
	position: absolute;
	justify-content: space-between;
	z-index: 5;
}


.header_left {
	background: #fff;
	padding:38px 35px;
}


a.logo {
	svg {
		width:490px;
		height:auto;
		path {
			fill:#003454;
		}
	}	
}



.header_right {
	display: flex;
	
}


.phone_wrapper {
	margin: 29px 41px 0 0;
	span.free {
		display: block;
		color:$gold;
		font-family: $ats;
		text-transform: lowercase;
		font-size:37px;
		letter-spacing: 0.02em;
		
	}
	a.phone {
		color:#fff;
		text-decoration: none;
		font-family: $actabold;
		font-size:32px;
		
	}
}
	
	
	.menu_wrapper {
		background: $gold;
		height:84px;
		width:95px;
		text-align: center;
		padding:23px 21px 0;
		margin:22px 47px 0 0;
		cursor: pointer;
		transition: background .2s ease-in-out;
		&:hover {
			background: $teal;
		}
		span.menu_bar {
			width:100%;
			height:3px;
			background: #fff;
			display: block;
			margin-bottom:6px;
		}
		span.menu_title {
			color:#fff;
			font-size:14.5px;
			font-family: $muliblack;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			display: block;
			padding-top:5px;
		}
	}
	
	
	.mobile_nav {
		display: none;
	}
	
	
	.start_button {
		position: fixed;
		background: $teal;
		top:50%;
		right:0;
		z-index:5;
		font-size:34px;
		font-family: $ats;
		color:#fff;
		text-transform: lowercase;
		padding:32px 28px 16px;
		box-shadow: 5.299px 8.48px 20.16px 0.84px rgba(0, 0, 0, 0.09);
		transform: translateX(300px);
		transition: background .2s ease-in-out, opacity 800ms linear, visibility 800ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		&:hover {
			background: $gold;
		}
	}
	
	
	.start_button.visible {
		opacity: 1;
		visibility: visible;
		transform: translateX(0px);
	}
	
	
body:not(.page-template-page-home) {
	.menu_wrapper {
		margin:0;
		height: 105px;
		width: 109px;
		background: $teal;
		padding: 31px 27px 0;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $gold;
		}
	}
}


header.no_banner_styles {
	.header_left {
			background: #fff;
			flex-basis: 480px;
			height: 105px;
			padding: 41px 35px 0;
			flex-grow: 0;
			flex-shrink: 0;
			a.logo {
				svg {
					width: 100%;
				}
			}
		}
		.header_right {
			background:#f2eeea;
			flex-grow: 1;
			justify-content: flex-end;
			height: 105px;
		}
		.phone_wrapper {
			margin: 23px 31px 0 0;
			span.free {
				font-size: 32px;
				margin:0;
				text-align: right;
			}
			a.phone {
				color:$bluedark;
			}
		}
}
	
	
@media screen and (max-width: 1450px) {
	
	
	
	.menu_wrapper {
		margin-right:31px;
	}
	
	
.phone_wrapper {
	span.free {
		letter-spacing: 0;
		font-size: 35px;
		margin-left:19px;
	}
}


	header.banner_styles, header.no_banner_styles {
		position: static;
		.header_left {
			background: #fff;
			flex-basis: 480px;
			height: 105px;
			padding: 41px 35px 0;
			flex-grow: 0;
			flex-shrink: 0;
			a.logo {
				svg {
					width: 100%;
				}
			}
		}
		.header_right {
			background:#f2eeea;
			flex-grow: 1;
			justify-content: flex-end;
			height: 105px;
		}
		.phone_wrapper {
			margin: 23px 31px 0 0;
			span.free {
				font-size: 32px;
				margin:0;
				text-align: right;
			}
			a.phone {
				color:$bluedark;
			}
		}
	}
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1150px) {
	
	header {
		height: 82px;
		position: relative;
	}
	
	.header_left {
		padding: 34px 27px;
		flex-grow:1;
		
	}
	
	
	.header_right {
		background: #fff;
	}
	
	
	a.logo {
		svg {
			width:352px;
		}
	}
	
	
	.phone_wrapper {
		margin: 14px 20px 0 0;
		span.free {
			font-size:30px;
		}
		a.phone {
			color:$bluedark;
			font-size:27px;
		}
	}
	
	
	.menu_wrapper {
		margin:0;
		height:100%;
		padding: 18px 21px 0;
	}
	
	
		header.banner_styles, header.no_banner_styles {
		
			height:105px;
		}
	


	
} /* Media Query */



@media screen and (max-width: 965px) {
	
	
	
	
	
		
	header.banner_styles, header.no_banner_styles {
		
		.header_left {
			flex-basis: 375px;
			padding: 41px 26px 0;
			a.logo {
				
				svg {
					width: 330px;
				}
			}
		}
		.header_right {
			
		}
		.phone_wrapper {
			
			span.free {
				
			}
			a.phone {
				
			}
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	header {
		flex-direction: column;
		height: auto;
		
	}
	
	.header_left, .header_right {
		flex-grow: 0;
		flex-basis: 100%;
		flex-shrink:0;
	}
	
	.header_left {
		text-align: center;
		//padding-bottom:22px;
		height:73px;
		padding-top:28px;
	}
	
	
	.header_right {
		display: flex;
		height:75px;
		
	}
	
	
	.phone_wrapper {
			flex-grow:1;
			text-align: center;
			background:#ebe8e5;
			margin:0;
			order:2;
			span.free {
				display: none;
			}
			a.phone {
				margin-top:25px;
				display: block;
				margin-left:-89px;
			}
		}
	
	
	a.logo {
		display: block;
		svg {
			width:100%;
			max-width:270px;
			
		}
	}
	
	
	.menu_wrapper {
		order:1;
		width: 89px;
		span.menu_title {
			font-size: 12.5px;
			padding-top:0;
		}
	}
	
	.mobile_nav.visible {
		opacity: 1;
		visibility: visible;
	}
	
	.mobile_nav {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		z-index: 5;
		height:74px;
		display: flex;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
		.menu_wrapper {
			order:1;
		}
	}
	
	.mobile_tel {
		flex-grow:1;
		order:2;
		a {
			display: block;
			background: #ebe8e5;
			height:100%;
			display: flex;
			justify-content: center;
			svg {
				width:55px;
				.new_phone-cls-1,.new_phone-cls-2{
					fill:none;
					stroke:$teal;
					stroke-miterlimit:10;
				}
				.new_phone-cls-1{
					stroke-linecap:round;
				}
			}
		}
	}
	
	.mobile_email {
		flex-grow:1;
		order:3;
		background: $teal;
		display: flex;
		justify-content: center;
		cursor: pointer;
		svg {
				width:53px;
				.mobile_email-cls-1{
					fill:none;
					stroke:#fff;
					stroke-miterlimit:10;
				}
			}
	}
	
	
	
	
	header.banner_styles, header.no_banner_styles {
		 height: auto;
		 position: relative;
		 z-index: 2;
		.header_left {
			flex-basis: 100%;
			padding:28px 20px;
			height:auto;
			a.logo {
				
				svg {
					
				}
			}
		}
		.header_right {
			flex-basis: 100%;
			background: transparent;
			height:75px;
		}
		.phone_wrapper {
			margin-top:0;
			margin-right:0;
			span.free {
				
			}
			a.phone {
				
			}
		}
	}
	

	
	body:not(.page-template-page-home) {
	.menu_wrapper {
		background: $gold;
		height: 75px;
		width: 89px;
		padding: 18px 21px 0;
		
	}
}


.start_button {
	display: none;
}
	
	
	
} /* Media Query */


@media screen and (max-width: 427px) {
	
	
		.phone_wrapper {
			
			span.free {
				
			}
			a.phone {
				text-align: left;
				margin-left:25px;
			}
		}

	
	
	
	
} /* Media Query */
	
	
	
	