nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
	display: flex;
	opacity: 0;
	visibility: hidden;
	ul {
		list-style: none;
		li.menu-item-has-children {
			> a {
					&:before {
						content:"";
						width:8px;
						height:8px;
						display: block;
						background: $teal;
						position: absolute;
						top:19px;
						right:-10px;
						transform: rotate(-45deg);
				}
			}
		}
		li {
			font-size: 38px;
			font-family: $actabook;
			text-transform: lowercase;
			margin-bottom: 65px;
			line-height: 45px;
			a {
				color:$bluedark;
				text-decoration: none;
				position: relative;
				display: block;
				transition: all .2s ease-in-out;
				cursor: pointer;
				&:hover {
					color:$teal;
				}
			}
		}
	}
	ul.sub-menu {
		display: none;
	}
}

.close {
	position: absolute;
	top:0;
	right:0;
	background: $gold;
	width:85px;
	height:85px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: background .2s ease-in-out;
	cursor: pointer;
	&:hover {
		background: $teal;
	}
	&:before, &:after {
		content:"";
		display: block;
		width:100%;
		height:2px;
		max-width: 46px;
		background:#fff;
	}
	&:before {
		transform: rotate(-45deg);
		transform-origin: 23px 2px 0;
	}
	&:after {
		transform: rotate(45deg);
		transform-origin: 25px 2px 0;
	}
}


nav.open {
	.close {
		&:before {
			transform: rotate(-45deg);
			transform-origin: 23px 2px 0;
		} &:after {
			transform: rotate(45deg);
			transform-origin: 25px 2px 0;
		}
	}
}




.nav_left {
	background: $bluedark;
	flex-basis: 33.3333%;
	transform: translateX(-100%);
	overflow-y: scroll;
}



.nav_right {
	flex-basis: 66.6666%;
	display: flex;
	transform: translateX(100%);
	
}

.nav_left, .nav_right {
	transition: transform 1000ms cubic-bezier(.17,.66,.34,.98);
}

nav.open.remove {
	.nav_left {
		transform: translateX(-100%);
	}
	.nav_right {
		transform: translateX(100%);
	}
}

nav.open {
	opacity: 1;
	visibility: visible;
	.nav_left, .nav_right {
		transform: translateX(0%);
		transition-delay: 100ms;
	}
}



.nav_col_one, .nav_col_two {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0 55px;
	overflow-y: scroll;
}

.nav_col_one {
	background:#fff;
}

nav {
	.menu-header, .submenu_container {
		width:100%;
		max-width:345px;
	}
}



.nav_col_two {
	background: #f6f1eb;
}



@media screen and (max-width: 1675px) {
	
	
	
	
	.nav_left {
		flex-basis: 555px;
		flex-shrink: 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	nav {
		ul {
			li {
				font-size:34px;
				a {
					
				}
			}
		}
	}
	
	
} /* Media Query */
	



@media screen and (max-width: 1315px) {
	
	nav {
		display: block;
		background: #fff;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		opacity: 1;
		visibility: visible;
		ul.menu {
			margin-top:70px;
			padding-bottom:100px;
			> li {
					border-bottom:1px solid #ebebeb;
			}
		}
		ul {
			li.menu-item-has-children {
				> a {
						&:before {
							right:-185px;
							
							position: relative;
							margin:0 auto;
						}
				}
			}
			li {
				font-size:25px;
				margin-bottom:0;
				line-height: 31px;
				
				a {
					padding:24px 40px;
					max-width: 400px;
					margin-left:auto;
					margin-right:auto;
					
				}
			}
		}
		ul.sub-menu.open {
			max-height: 3000px;
			opacity: 1;
			visibility: visible;
		}
		ul.sub-menu {
			display: block;
			max-height:0;
			opacity: 0;
			visibility: hidden;
			background: #f6f1eb;
			transition: all 500ms cubic-bezier(.17,.66,.34,.98);
			> li {
					border-top:1px solid #fff;
			}
		}
	}
	
	.nav_left, .nav_col_two {
		display: none;
	}
	
	.nav_right {
		width:100%;
		transform: translateX(0);
		text-align: center;
		display: block;
		
	}
	
	
	.nav_col_one {
		background: transparent;
		padding:0;
	}
	
	
nav {
	.menu-header, .submenu_container {
		width:100%;
		max-width:100%;
	}
}


.close {
	width:78px;
	height:78px;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.close {
		height: 61px;
		left:0;
		width:68px;
		&:before, &:after {
			max-width: 40px;
		}
		&:before {
			transform-origin: 18px 3px 0;
		}
		&:after {
			transform-origin: 23px 0px 0;
		}
	}
	
	
	nav {
		ul.menu {
			margin-top:75px;
		}
		ul {
			li.menu-item-has-children {
				> a {
					&:before {
						display: none;
					}
				}
			}
			li {
				font-size:20px;
				a {
					padding: 12px 40px;
				}
			}
		}
		
	}
	
	
	
} /* Media Query */

