nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
	display: flex;
	opacity: 0;
	visibility: hidden;
	ul {
		list-style: none;
		li.menu-item-has-children {
			> a {
					&:before {
						content:"";
						width:8px;
						height:8px;
						display: block;
						background: $teal;
						position: absolute;
						top:18px;
						right:-10px;
						transform: rotate(-45deg);
				}
			}
		}
		li {
			font-size: 38px;
			font-family: $actabook;
			text-transform: lowercase;
			margin-bottom: 65px;
			line-height: 45px;
			a {
				color:$bluedark;
				text-decoration: none;
				position: relative;
				display: block;
				transition: all .2s ease-in-out;
				cursor: pointer;
				&:hover {
					color:$teal;
				}
			}
		}
	}
	ul.sub-menu {
		display: none;
	}
}

.close {
	position: absolute;
	top:0;
	right:0;
	background: $gold;
	width:85px;
	height:85px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: background .2s ease-in-out;
	cursor: pointer;
	&:hover {
		background: $teal;
	}
	&:before, &:after {
		content:"";
		display: block;
		width:100%;
		height:2px;
		max-width: 46px;
		background:#fff;
	}
	&:before {
		transform: rotate(-45deg);
		transform-origin: 23px 2px 0;
	}
	&:after {
		transform: rotate(45deg);
		transform-origin: 25px 2px 0;
	}
}


nav.open {
	.close {
		&:before {
			transform: rotate(-45deg);
			transform-origin: 23px 2px 0;
		} &:after {
			transform: rotate(45deg);
			transform-origin: 25px 2px 0;
		}
	}
}




.nav_left {
	background: $bluedark;
	flex-basis: 33.3333%;
	transform: translateX(-100%);
	overflow-y: scroll;
	padding:100px 45px 75px;
	position: relative;
	span.nav_start_title {
		color:#c08e4e;
		font-family: $ats;
		text-transform: lowercase;
		font-size:120px;
		display: block;
		max-width: 433px;
	}
}


.nav_left_inner {
	max-width: 460px;
	margin-left:auto;
	margin-right:auto;
}


.nav_left {
	.gform_wrapper {
		margin: -36px 0 0;
		ul {
			li.input_has_value.clicked {
				label {
					border-bottom:4px solid $teal;
					
				}
				input, textarea {
					border-bottom:4px solid $teal;
					padding-left:0px;
				}
			}
			li.input_has_value {
				label {
					padding-top:0;
					border-bottom:4px solid $teal;
				}
				input, textarea {
					opacity: 1;
					border-bottom:4px solid $teal;
					padding-left:0px;
				}
			}
			li.clicked {
				label {
					position: relative;
					padding-top:0;
					border-bottom: 4px solid $teal;
					transition-delay: 0ms, 200ms;
				}
				input,textarea {
					opacity: 1;
					transition-delay: 600ms;
					// background: $bluedark;
					// box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
				}
			}
		}
	}
}


		
.nav_left {
	.gform_wrapper {
		margin:30px 0 0;
		&:after {
				content:"";
				clear:both;
				display: block;
			}
		.gfield_description, .validation_message {
			top:85px;
			position: absolute;
		}
		input[type="submit"] {
			background: $teal;
			border:none;
			color:#fff;
			font-family: $actabold;
			font-size:25px;
			letter-spacing: 0.05em;
			text-transform: lowercase;
			float:right;
			padding:25px 50px;
			transition: all .2s ease-in-out;
			cursor: pointer;
			margin-top:95px;
			float:none;
			margin-left:auto;
			margin-right:auto;
			display: block;
			&:hover {
				background: $gold;
			}
		}
		ul {
			list-style: none;
			li#field_3_5 {
				width: 100%;
				height: 73px;
				margin-bottom:32px;
				.gfield_description, .validation_message {
					top:95px;
					}
				label {
					// padding-top:0;
					height: 84px;
					
				}
				textarea {
					padding-top:15px;
					height: 67px;
				}
			}
			li {
				width:100%;
				margin:0 0 37px;
				flex-basis:23.75%;
				position: relative;
				height: 73px;
				line-height: 1;
				label {
					font-size:18px;
					font-family: $muliextrabold;
					letter-spacing: 0.05em;
					border-bottom:4px solid #fff;
					color:#fff;
					display: block;
					position: absolute;
					pointer-events: none;
					top:0;
					left:0;
					width:100%;
					height: 73px;
					padding-top:35px;
					text-transform: capitalize;
					z-index:3;
					transition: padding 700ms cubic-bezier(.17,.66,.34,.98), border 300ms linear;
					
					span.gfield_required {
						color:$teal;
						display: inline-block;
						margin-left:6px;
					}
				}
				.ginput_container {
					position: absolute;
					top: 17px;
					left:0;
					width:100%;
				}
				input, textarea {
					background: transparent;
					border:none;
					border-bottom:4px solid transparent;
					width:100%;
					font-size: 30px;
					font-family:$actabookitalic;
					color:#fff;
					padding:4px 0 0 0px;
					transition: opacity 300ms linear;
					opacity: 0;
					height: 56px;
				}
				select {
					background: transparent;
					border:none;
					border-bottom:4px solid #fff;
					width:100%;
					-webkit-appearance: none;
					border-radius:0;
				}
			}
		}
	}
	span.nav_left_required {
		color:#fff;
		font-size:11px;
		text-transform: uppercase;
		font-family: $muliblack;
		letter-spacing: 0.5em;
		position: relative;
		top:-130px;
		span {
			color:$teal;
		}
	}
}
















.nav_right {
	flex-basis: 66.6666%;
	display: flex;
	transform: translateX(100%);
	
}

.nav_left, .nav_right {
	transition: transform 1000ms cubic-bezier(.17,.66,.34,.98);
}

nav.open.remove {
	.nav_left {
		transform: translateX(-100%);
	}
	.nav_right {
		transform: translateX(100%);
	}
}

nav.open {
	opacity: 1;
	visibility: visible;
	.nav_left, .nav_right {
		transform: translateX(0%);
		transition-delay: 100ms;
	}
}



.nav_col_one, .nav_col_two {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0 55px;
	overflow-y: scroll;
}

.nav_col_one {
	background:#fff;
}

nav {
	.menu-header, .submenu_container {
		width:100%;
		max-width:345px;
	}
}



.nav_col_two {
	background: #f6f1eb;
}



@media screen and (max-width: 1675px) {
	
	
	
	
	.nav_left {
		flex-basis: 555px;
		flex-shrink: 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	nav {
		ul {
			li {
				font-size:34px;
				a {
					
				}
			}
		}
	}
	
	
} /* Media Query */
	



@media screen and (max-width: 1315px) {
	
	nav {
		display: none;
		background: #fff;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		opacity: 1;
		visibility: visible;

		ul.menu {
			margin-top:70px;
			padding-bottom:100px;
			> li {
					border-bottom:1px solid #ebebeb;
			}
		}
		ul {
			li.menu-item-has-children {
				> a {
						&:before {
							right:-185px;
							
							position: relative;
							margin:0 auto;
						}
				}
			}
			li {
				font-size:25px;
				margin-bottom:0;
				line-height: 31px;
				
				a {
					padding:24px 40px;
					max-width: 400px;
					margin-left:auto;
					margin-right:auto;
					
				}
			}
		}
		ul.sub-menu.open {
			max-height: 3000px;
			opacity: 1;
			visibility: visible;
		}
		ul.sub-menu {
			display: block;
			max-height:0;
			opacity: 0;
			visibility: hidden;
			background: #f6f1eb;
			transition: all 500ms cubic-bezier(.17,.66,.34,.98);
			> li {
					border-top:1px solid #fff;
			}
		}
	}
	
	.nav_left, .nav_col_two {
		display: none;
	}
	
	.nav_right {
		width:100%;
		transform: translateX(0);
		text-align: center;
		display: block;
		
	}
	
	
	.nav_col_one {
		background: transparent;
		padding:0;
	}
	
	
nav {
	.menu-header, .submenu_container {
		width:100%;
		max-width:100%;
	}
}


.close {
	width:78px;
	height:78px;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.close {
		height: 61px;
		left:0;
		width:68px;
		&:before, &:after {
			max-width: 40px;
		}
		&:before {
			transform-origin: 18px 3px 0;
		}
		&:after {
			transform-origin: 23px 0px 0;
		}
	}
	
	
	nav {
		ul.menu {
			margin-top:75px;
		}
		ul {
			li.menu-item-has-children {
				> a {
					&:before {
						display: none;
					}
				}
			}
			li {
				font-size:20px;
				a {
					padding: 12px 40px;
				}
			}
		}
		
	}
	
	
	
} /* Media Query */

