.internal_banner {
	width:100%;
	height:690px;
	background: url(#{$themePath}images/hero-internal.jpg) top left no-repeat;
	background-size:cover;
	padding-left:75px;
	padding-right:75px;
}



.internal_banner_inner {
	text-align: center;
	span.banner_title {
		color:#fff;
		font-family: $ats;
		text-transform: lowercase;
		font-size:120px;
		display: block;
		padding:290px 0 0;
		letter-spacing: -0.015em;
	}
	span.internal_consult {
		background: $teal;
		color:#fff;
		text-transform: lowercase;
		font-family: $actabold;
		font-size:30px;
		padding:31px 72px 23px;
		display: inline-block;
		margin-top:10px;
		transition: all 200ms ease-in-out;
		letter-spacing: 0.05em;
		cursor: pointer;
		box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
		&:hover {
			background: $gold;
		}
	}
}






.internal_main.default {
	
	display: flex;
	max-width:1880px;
	margin:0 auto;
	padding-top:145px;
	.container {
		padding-left:9%;
		padding-right:76px;
	}
}


.internal_main {
	padding-bottom:170px;
	padding-left:75px;
	padding-right:75px;
	min-height:400px;
	padding-top: 97px;
	position: relative;
}



.sidebar_wrapper {
	flex-basis:490px;
	flex-shrink:0;
	padding-left:76px;
	.sidebar.pa_sidebar {
		padding-top:45px;
		&:before {
			top:70px;
		}
	}
	.sidebar {
		background: #f2eeea;
		padding: 75px 0px 41px;
		position: relative;
		margin-bottom:56px;
		&:before {
			content:"";
			display: block;
			width:120px;
			height:28px;
			position: absolute;
			top:75px;
			left:-74px;
			background: url(#{$themePath}images/new_pattern.svg) top left;
		}
		h3 {
			color:$gold;
			text-transform: lowercase;
			font-family: $ats;
			font-size:40px;
			padding:0 66px;
			margin:0 0 17px;
		}
		ul.menu {
			li.menu-item-has-children.open {
				background: #f6f3ee;
				margin-bottom: 0;// this is the hitch
				> a {
						color:$gold;
				}
			}
			li.menu-item-has-children {
				
				> a {
						position: relative;
						display: block;
						cursor: pointer;
						border:none;
						&:before {
							content:"";
							display: block;
							position: absolute;
							top:9px;
							right:40px;
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid $bluedark;
						}
				}
			}
			> li {
					text-transform: uppercase;
					font-family: $muliblack;
					letter-spacing: 0.15em;
					margin-bottom:20px;
					font-size: 14px;
					line-height: 24px;
					padding:30px 0 0;
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		ul.sub-menu {
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			padding:0px;
			transition: all 500ms ease-in-out;
			li {
				text-transform: capitalize;
				margin-bottom:50px;
			&:last-of-type {
				margin-bottom:0
			}
				
			}
		}
		ul.sub-menu.open {
			max-height: 3000px;
			opacity: 1;
			visibility: visible;
			padding: 21px 0;
		}
		ul {
			list-style: none;
			li {
				font-family: $mulibold;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 0.025em;
				margin-bottom:23px;
				a {
					color:$bluedark;
					text-decoration: none;
					transition: all 200ms linear;
					border-bottom:1px solid transparent;
					padding:0 66px;
					display: block;
					&:hover {
						color:$gold;
						text-decoration: underline;
						//border-bottom:1px solid $gold;
					}
				}
			}
		}
	}
}



body.error404 {
	.internal_main {
		padding-bottom: 111px;
	}
}


.not_found {
	max-width:860px;
	margin:75px auto;
	text-align: center;
	position: relative;
	padding:140px 0 0;
	background: url(#{$themePath}images/404bg.jpg) top center no-repeat;
	
	.not_found_bg {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: red;
	}
	span.not_found_title {
		display: block;
		color:$teal;
		font-size:350px;
		font-family: $actamedium;
	}
	span.not_found_description {
		color:$bluedark;
		font-size:35px;
		line-height: 50px;
		letter-spacing: 0.02em;
		font-family: $actamedium;
		display: block;
		margin:-12px 0 0;
	}
}



.tumble {
	position: absolute;
	top:265px;
	right:60px;
	width:95px;
	height:auto;
}



@media screen and (max-width: 1881px) {
	
	
	.internal_main.default {
		padding-left:20px;
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1685px) {
	
	
	
	
	.internal_main.default {
		.container {
    	padding-left: 5%;
    	padding-right:0;
		}
	}	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.sidebar_wrapper {
    flex-basis: 456px;
   }
	
	
	} /* Media Query */


@media screen and (max-width: 1150px) {
	
	
	
	
	.internal_banner {
		display: none;
	}
	
	
	.internal_main {
		padding-bottom: 97px;
	}
	
	.internal_main.default {
		flex-direction: column;
		padding-left:45px;
		padding-right:45px;
		padding-top: 95px;
		.sidebar_wrapper {
			flex-basis: 100%;
			order:2;
			padding-left: 37px;
			margin-top: 35px;
			.sidebar.pa_sidebar {
				padding-top:31px;
				margin-bottom:0;
			}
			.sidebar {
				padding: 57px 0px 35px;
				&:before {
					top: 58px;
					left: -66px;
					width:118px;
					height:27px;
				}
			}
			
		}
		.container {
    	flex-basis: 100%;
			order:1;
			padding:0;
		}
	}	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	.internal_main {
		padding-top: 92px;
		padding-left:45px;
		padding-right:45px;
	}	
	
	
	
	
	
	body.error404 {
	.internal_main {
		padding-bottom: 81px;
		padding-top: 65px;
	}
}


.not_found {
	margin-top:0;
	background-size:500px;
	max-width: 607px;
	span.not_found_title {
		font-size: 265px;
	}
	span.not_found_description {
		max-width:600px;
		margin-left:auto;
		margin-right:auto;
	}
}



.tumble {
	right: -22px;
}



	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	

	
	.internal_main {
		padding:70px 26px 55px;
	}
	
	.internal_main.default {
		padding-top: 51px;
		padding-left:26px;
		padding-right:26px;
		.sidebar_wrapper {
			padding-left:0;
			margin-top: 11px;
			.sidebar.pa_sidebar {
				
			}
			.sidebar {
				margin-bottom:30px;
				&:before {
					display: none;
				}
				h3 {
					padding: 0px 35px;
				}
				ul {
					li {
						a {
							padding: 0px 35px;
						}
					}
				}
				ul.menu {
					> li {
						 padding: 15px 0 0;
						 
					}
				}
				ul.sub-menu {
					li {
						margin-bottom:25px;
						&:last-of-type {
							 margin-bottom: 0;
						 }
					}
				}
			}
			
		}
		.container {
    	
		}
	}	
	
	
	
	.att_overview {
		margin: 49px auto 0px;
		
	}
	
	
	
	
body.error404 {
	.internal_main {
		
	}
}


.not_found {
	max-width: 419px;
	padding: 80px 0 0;
	background-size: 307px;
	margin-bottom:0px;
	span.not_found_title {
		font-size: 152px; 
	}
	span.not_found_description {
		font-size: 29px;
    line-height: 38px;
    margin-top:10px;
	}
}



.tumble {
	top: 134px;
  right: 25px;
	width: 53px;
}



	
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 495px) {
	
	
	
	body.error404 {
	.internal_main {
		
	}
}


.not_found {
	max-width: 258px;
	padding: 61px 0 0;
	span.not_found_title {
		font-size: 122px;
	}
	span.not_found_description {
		font-size: 25px;
    line-height: 35px;
    margin-top: -6px;
	}
}



.tumble {
	top: 116px;
  right: -4px;
}

	
	
	
} /* Media Query */

@media screen and (max-width: 350px) {
	
	.tumble {
	  top: 96px;
    right: -15px;
    width: 42px;
	}

	    
	
	
	
	
} /* Media Query */

