.att_header_wrapper {
	margin:0 auto;
	text-align: center;
}

.att_header_center {
	display: inline-block;
}


h1.attorney_bio_header {
	color:$bluedark;
	font-size:180px;
	font-family: $ats;
	line-height: 180px;
	letter-spacing: -0.015em;
	text-align: center;
	display: inline-block;
	margin:170px 0 0;
	line-height: 1;
}

.att_header_wrapper {
	width:auto;
}


span.att_bio_position {
	text-transform: uppercase;
	color:$gold;
	font-size:20px;
	font-family: $muliblack;
	line-height: 30px;
	letter-spacing: 0.55em;
	text-align: right;
	display: block;
	margin-top: 0;
}


.att_excerpt {
	max-width:1520px;
	margin:0 auto;
	
}


.att_excerpt_content {
	max-width:1250px;
	display: flex;
	margin:155px 0 0;
	box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
	background: #fff;
	.att_excerpt_content_inner {
		padding:95px 0px 110px;
		max-width: 300px;
		max-width: 806px;
		svg {
			width:338px;
			height:auto;
			display: block;
			margin-left:-86px;
		}
		span {
			color:$gold;
			font-size:45px;
			font-family: $actamedium;
			line-height: 68px;
			padding:35px 85px 0;
			display: block;
		}
	}
}


.att_bio_image {
	width:100%;
	max-width:600px;
	margin-right:-170px;
	margin-top:-52px;
	display: block;
	&:after {
		content:"";
		display: block;
		width:100%;
		height:92%;
		max-height: 674px;
		background: $gold;
		z-index: -1;
		position: relative;
		top:0;
		right: -81px;
		margin-top: -510px;
	}	
	img {
		max-width:100%;
		height:auto;
		box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
	}
}


.att_bio_content {
	max-width:1520px;
	margin:245px auto 0;
	display: flex;
}


.att_bio_content_inner {
	flex-basis: 50%;
	padding-left:6%;
}

.att_bio_sidebar {
	flex-basis:50%;
	padding-left:7%;
	padding-right:2%;
	display: flex;
	.single_list {
		.list_title {
			text-transform: uppercase;
			color:$gold;
			font-size:15px;
			line-height: 23px;
			font-family: $muliblack;
			letter-spacing: 0.2em;
		}
		ul {
			list-style: none;
			margin:16px 0 94px;
			li {
				padding:18px 0;
				border-top:1px solid #ebe8e5;
				font-family: $mulisemibold;
				font-size:14px;
				line-height: 24px;
				letter-spacing: 0.025em;
				color:#616466;
				&:first-of-type {
					border: none;
				}
				&:before {
					display: none;
				}
			}
		}
	}
}

.sidebar_col {
	flex-basis: 50%;
	&:first-of-type {
		padding-right:30px;
	}
	&:last-of-type {
		padding-left:30px;
	}
}


img.att_bio_img {
	display: none;
	}


@media screen and (max-width: 1755px) {
	
	 
	 .att_excerpt {
		 max-width: 1365px;
	 }
	 
	    
	
	.att_excerpt_content {
    max-width: 1110px;
   }
	
	
	.att_excerpt_content {
		.att_excerpt_content_inner {
			span {
				font-size:34px;
				line-height: 54px;
			}
		}
	} 
	
	
	.att_bio_image {
    max-width: 520px;
    &:after {
	   height: 85%;
    }
  }
	
	
} /* Media Query */



@media screen and (max-width: 1480px) {
	
	
	.att_excerpt {
		max-width: 1130px;
	}
	
	    
	.att_excerpt_content {
    max-width: 850px;
	}
	
	.att_bio_content {
    max-width: 1041px;
    margin: 276px auto 0;
   }
   
   
   
	
	.att_bio_image {
		margin-right: -270px;
		max-width: 487px;
		margin-top: -68px;
		&:after {
			top: 89px;
			right: 170px;
			height: 99%;
			width: 119%;
		}
	}
	
	.att_excerpt_content {
		.att_excerpt_content_inner {
			padding: 70px 0px 71px;
			span {
				padding: 24px 42px 0 85px;
			}
		}
	}
	
	
	h1.attorney_bio_header {
		font-size:150px;
		margin: 70px 0 0;
	}
	
	span.att_bio_position {
		text-align: center;
	}
	    
	.att_bio_content_inner {
	   padding-left:0;
	   flex-basis:auto;
	   flex-grow: 1;
   }    
	    
.att_bio_sidebar {
	flex-basis: 368px;
	display: block;
	flex-shrink: 0;
	.single_list {
		.list_title {
			
		}
		ul {
			margin: 16px 0 65px;
			li {
				
				&:first-of-type {
					
				}
				&:before {
					
				}
			}
		}
	}
}  
	  
	  
	  
	  .sidebar_col {
		   &:first-of-type {
			 	padding-right:0;
			}
			&:last-of-type {
				padding-left:0;
				.single_list {
					&:last-of-type {
						ul {
							&:last-of-type {
								margin-bottom: 0;
							}
						}
					}
				}
			} 
	  }
	  
	    
	  
	    
	    
	
} /* Media Query */



@media screen and (max-width: 1330px) {
	
	.att_excerpt_content {
		.att_excerpt_content_inner {
			 svg {
				 margin-left: -59px;
			}
			span {
				padding: 24px 42px 0 53px;
			}
		}
	}
	
	
	   
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	.att_excerpt {
    max-width: 100%;
	}
	
	
	.att_bio_image {
		max-width: 437px;
		margin-right: -160px;
		&:after {
			top: 169px;
			height: 89%;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1145px) {
	
	body.page-template-page-attbio {
		.internal_main {
			padding-left:0;
			padding-right:0;
			padding-top:0;
		}
	}
	
	h1.attorney_bio_header {
		font-size:102px;
		margin: 98px 0 0;
	}
	

	
	.att_excerpt {
		position: relative;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:67%;
			background: $gold;
			position: absolute;
			top:185px;
			left:0;
			z-index:-1;
		}
	}
	
	.att_excerpt_content {
		flex-direction: column;
		max-width:100%;
	}
	
	
	.att_excerpt_content {
		box-shadow: none;
		background: transparent;
		margin: 42px 0 0;
		.att_excerpt_content_inner {
			order:2;
			flex-basis: 100%;
			box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
			background: #fff;
			margin-top:-90px;
			padding: 129px 0px 71px;
			max-width: 600px;
			margin-left:auto;
			margin-right:auto;
			width:100%;
			svg {
				margin-left: -32px;
			}
			span {
				font-size:34px;
				line-height: 54px;
				padding: 37px 42px 0 53px;
				max-width: 535px;
				margin-left:auto;
				margin-right:auto;
				
			}
		}
	}
	
	.att_bio_image {
		order:1;
		top:0;
		right:0;
		margin:0;
		position: relative;
		flex-basis: auto;
		height:auto;
		width:100%;
		max-width:100%;
		flex-shrink: 0;
		flex-grow:0;
		text-align: center;
		&:after {
			display: none;
		}
		img {
			box-shadow: none;
			width:100%;
			max-width:500px;
		}
		
	}
	
	
.att_bio_content {
  margin: 152px auto 0;
  flex-direction: column;
  max-width: 1010px;
  padding-left:90px;
  padding-right:90px;
}


.att_bio_sidebar {
	padding-left:0;
	display: flex;
	flex-basis:100%;
	margin-top:60px;
}


.sidebar_col {
	&:first-of-type {
		padding-right:35px;
	}
	&:last-of-type {
		padding-left:35px;
	}
}
		
	
} /* Media Query */



@media screen and (max-width: 767px) {
	

		img.att_bio_img {
		width:100%;
		display: block;
		box-shadow:3.889px 2.025px 48.96px 2.04px rgba(0,0,0,0.45);
	}
	
	
	h1.attorney_bio_header {
		font-size: 90px;
		line-height: 80px;
		padding-left:26px;
		padding-right:26px;
	}
	
	span.att_bio_position {
		font-size: 18px;
		letter-spacing: 0.2em;
		margin-top: 6px;
	}
	
	.att_bio_image {
		display: none;
	}

.att_excerpt {
	&:after {
		display: none;
	}
	.att_excerpt_content_inner {
		box-shadow: none;
		background: transparent;
		margin-top:0;
		padding: 3px 0px 71px;
		span {
			font-size: 30px;
			line-height: 42px;
			padding: 55px 35px;
			max-width:100%;
		}
		svg {
			width: 280px;
		}
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 540px) {
	
	
	
.att_excerpt {
	&:after {
		
	}
	.att_excerpt_content_inner {
		
		span {
			
		}
		svg {
		 	margin-left: -157px;
		 
		}
	}
}
	
	
	
	   
	
	
} /* Media Query */


