body.page-template-page-caseresults {
	svg#new_pattern {
		width:133px;
		height: 34px;
		display: block;
		margin:-5px auto 0;
	}
}


span.case_results_page_intro {
	display: block;
	margin:41px auto 0;
	text-align: center;
	font-size:45px;
	font-family: $actamedium;
	line-height: 45px;
	letter-spacing: 0.02em;
	color:$bluedark;
	max-width:890px;
}


.case_results_page_wrapper {
	max-width:1642px;
	margin:170px auto 0;
	display: flex;
	flex-wrap:wrap;
}

.case_results_page_single {
	text-align: center;
	width:31%;
	position: relative;
	margin-bottom:195px;
	margin-right:3%;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		margin-bottom: 0;
	}
	.cr_single_inner {
		position: relative;
		z-index: 1;
		padding-top:208px;
		.svg_wrapper {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			text-align: center;
			svg {
				display: block;
				margin-left:auto;
				margin-right:auto;
			}
			svg#steth {
				width:85px;
				margin-top:90px;
				.steth-cls-1 {
					fill:#17bbbd;
				}
				.steth-cls-2 {
					fill:none;
					stroke:#17bbbd;
					stroke-miterlimit:10;
					stroke-width:2px;
				}
			}
			svg#truck {
				width:128px;
				margin-top:90px;
				.truck-cls-1{
					fill:none;
					stroke:#17bbbd;
					stroke-linecap:round;
					stroke-linejoin:round;
					stroke-width:2px;
				}
			}
			svg#cactus {
				width:62px;
				margin-top:68px;
				path, rect {
					fill:$teal;
				}
			}
			svg#fire {
				width:67px;
				margin-top:80px;
				.fire-cls-1{
					fill:none;
					stroke:#17bbbd;
					stroke-miterlimit:10;
					stroke-width:2px;
					}
				.cls-2{
					fill:#17bbbd;
				}
			}
			svg#boat {
				width:117px;
				stroke-width:2px;
				margin-top:75px;
				position: relative;
				left:-12px;
				.boat-cls-1{
					fill:none;
					stroke:#17bbbd;
					stroke-linecap:round;
					stroke-linejoin:round;
				}
			}
			svg#heart {
				width:105px;
				margin-top:95px;
				.heart-cls-1{
					fill:none;
					stroke:#17bbbd;
					stroke-width:2;
					stroke-miterlimit:10;
				}
			}
			svg#motor {
				width:158px;
				margin-top:100px;
				.motor-cls-1,.motor-cls-2{
					fill:none;stroke:#17bbbd;
				}
				.motor-cls-1 {
					stroke-linecap:round;
					stroke-linejoin:round;
					stroke-width:2px;
				}
				.motor-cls-2 {
					stroke-miterlimit:10;
				}
			}
			svg#new_construction {
				width:105px;
				margin-top:79px;
				.new_construction-cls-1{fill:#29b6b9;}
			}
			svg#new_traffic {
				width:120px;
				margin-top:65px;
				.new_traffic-cls-1{fill:#29b6b9;stroke:#28b5b8;stroke-miterlimit:10;stroke-width:0.47px;}
			}
		}
		span {
			display: block;
		}
		span.amount {
			font-size:90px;
			font-family: $actaextrabold;
			color:$bluedark;
		}
		span.case {
			color:$gold;
			font-size:38px;
			font-family: $actabookitalic;
			line-height: 40px;
			margin-top:23px;
		}
		span.type {
			text-transform: uppercase;
			color:$gold;
			font-family: $muliblack;
			letter-spacing: 0.26em;
			font-size:13px;
			margin-top:25px;
		}
	}
}



.case_results_page_single {
	.cr_bg_wrapper {
		position: absolute;
		top:-10px;
		left:0;
		width:100%;
		height:100%;
		background: url(#{$themePath}images/cr-bg-pattern-01.png) top center no-repeat;
	}
	&:nth-of-type(6n + 2), &:nth-of-type(6n + 4), &:nth-of-type(6n + 6) {
		.cr_bg_wrapper {
			top:-55px;
			background: url(#{$themePath}images/cr-bg-pattern-02.png) top center no-repeat;
		}
	}
}




@media screen and (max-width: 1545px) {
	


.case_results_page_wrapper {
	max-width: 1040px;
}	
	
.case_results_page_single {
	width:47%;
	margin-right: 6%;
	margin-bottom: 98px;
	&:nth-of-type(3n + 3) {
		margin-right: 6%;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		margin-bottom: 98px;
	}
	&:nth-last-of-type(-n + 2) {
		margin-bottom: 0px;
	}
	.cr_single_inner {
		
		.svg_wrapper {
			
			svg {
				
			}
			svg#steth {
				
				.steth-cls-1 {
					
				}
				.steth-cls-2 {
					
				}
			}
			svg#truck {
				
				.truck-cls-1{
					
				}
			}
			svg#cactus {
				
				path, rect {
					
				}
			}
			svg#fire {
				
				.fire-cls-1{
					
					}
				.cls-2{
					
				}
			}
			svg#boat {
				
				.boat-cls-1{
					
				}
			}
			svg#heart {
				
				.heart-cls-1{
					
				}
			}
			svg#motor {
				
				.motor-cls-1,.motor-cls-2{
					
				}
				.motor-cls-1 {
					
				}
				.motor-cls-2 {
					
				}
			}
		}
		span {
			
		}
		span.amount {
			
		}
		span.case {
			
		}
		span.type {
			
		}
	}
}



.case_results_page_single {
	.cr_bg_wrapper {
		
	}
	&:nth-of-type(6n + 2), &:nth-of-type(6n + 4), &:nth-of-type(6n + 6) {
		.cr_bg_wrapper {
			
		}
	}
}


	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.case_results_page_wrapper {
		 margin: 86px auto 0;
	}
	
	
	   
	
	
	
	span.case_results_page_intro {
		max-width: 620px;
		font-size: 38px;
	  line-height: 42px;
	}
	
	
	
	
.case_results_page_wrapper {
	
}	
	
.case_results_page_single {
	
	&:nth-of-type(3n + 3) {
		
	}
	&:nth-of-type(2n + 2) {
		
	}
	&:nth-last-of-type(-n + 3) {
		
	}
	&:nth-last-of-type(-n + 2) {
		
	}
	.cr_single_inner {
		
		.svg_wrapper {
			
			svg {
				
			}
			svg#steth {
				
				.steth-cls-1 {
					
				}
				.steth-cls-2 {
					
				}
			}
			svg#truck {
				
				.truck-cls-1{
					
				}
			}
			svg#cactus {
				
				path, rect {
					
				}
			}
			svg#fire {
				
				.fire-cls-1{
					
					}
				.cls-2{
					
				}
			}
			svg#boat {
				
				.boat-cls-1{
					
				}
			}
			svg#heart {
				
				.heart-cls-1{
					
				}
			}
			svg#motor {
				
				.motor-cls-1,.motor-cls-2{
					
				}
				.motor-cls-1 {
					
				}
				.motor-cls-2 {
					
				}
			}
		}
		span {
			
		}
		span.amount {
			font-size:72px;
		}
		span.case {
			margin-top: 15px;
		}
		span.type {
			
		}
	}
}



.case_results_page_single {
	.cr_bg_wrapper {
		
	}
	&:nth-of-type(6n + 2), &:nth-of-type(6n + 4), &:nth-of-type(6n + 6) {
		.cr_bg_wrapper {
			
		}
	}
}

	
	
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 895px) {
	
	
	
.case_results_page_single {
	width:100%;
	margin-right:0;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		    margin-bottom: 98px;
	}
	&:nth-last-of-type(-n + 2) {
		    margin-bottom: 98px;
	}
	&:nth-last-of-type(-n + 1) {
		    margin-bottom: 0px;
	}
	.cr_single_inner {
		
		.svg_wrapper {
			
			svg {
				
			}
			svg#steth {
				
				.steth-cls-1 {
					
				}
				.steth-cls-2 {
					
				}
			}
			svg#truck {
				
				.truck-cls-1{
					
				}
			}
			svg#cactus {
				
				path, rect {
					
				}
			}
			svg#fire {
				
				.fire-cls-1{
					
					}
				.cls-2{
					
				}
			}
			svg#boat {
				
				.boat-cls-1{
					
				}
			}
			svg#heart {
				
				.heart-cls-1{
					
				}
			}
			svg#motor {
				
				.motor-cls-1,.motor-cls-2{
					
				}
				.motor-cls-1 {
					
				}
				.motor-cls-2 {
					
				}
			}
		}
		span {
			
		}
		span.amount {
			
		}
		span.case {
			
		}
		span.type {
			
		}
	}
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.case_results_page_wrapper {
    margin: 50px auto 0;
	}
	
	span.case_results_page_intro {
		font-size: 32px;
		line-height: 37px;
		max-width: 550px;
	}
	
	
	
.case_results_page_single {
	    margin-bottom: 71px;
	&:nth-of-type(3n + 3) {
		
	}
	&:nth-of-type(2n + 2) {
		
	}
	&:nth-last-of-type(-n + 3) {
		  margin-bottom: 71px;  
	}
	&:nth-last-of-type(-n + 2) {
		   margin-bottom: 71px; 
	}
	&:nth-last-of-type(-n + 1) {
		    margin-bottom: 0px;
	}
	.cr_single_inner {
		
		.svg_wrapper {
			
			svg {
				
			}
			svg#steth {
				
				.steth-cls-1 {
					
				}
				.steth-cls-2 {
					
				}
			}
			svg#truck {
				width: 113px;
				margin-top: 97px;
				.truck-cls-1{
					
				}
			}
			svg#cactus {
				
				path, rect {
					
				}
			}
			svg#fire {
				 width: 61px;
				 margin-top: 92px;
				.fire-cls-1{
					
					}
				.cls-2{
					
				}
			}
			svg#boat {
				margin-top: 91px;
				width: 104px;
				.boat-cls-1{
					
				}
			}
			svg#heart {
				width: 96px;
				margin-top: 111px;
				.heart-cls-1{
					
				}
			}
			svg#motor {
				 width: 145px;
				 margin-top: 110px;
				.motor-cls-1,.motor-cls-2{
					
				}
				.motor-cls-1 {
					
				}
				.motor-cls-2 {
					
				}
			}
		}
		span {
			
		}
		span.amount {
			font-size: 61px;
		}
		span.case {
			font-size: 34px;
			margin-top: 9px;
		}
		span.type {
			margin-top: 18px;
		}
	}
}
	
	
	
	
	
	
	
} /* Media Query */


