.wistia_click_to_play {
   width: 100% !important;
   height: 100% !important;
 }

.wistia_click_to_play div div {
	display: none !important;
}


.video_center {
	max-width:1700px;
	margin:78px auto 0;
	display: flex;
	flex-wrap: wrap;
}


.single_video {
	width: 29%;
	position: relative;
	height:630px;
	margin-right:6.5%;
	margin-bottom:77px;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		margin-bottom:0;
	}
	&:hover {
		.video_overlay {
			opacity: 1;
			visibility: visible;
		}
		svg#play_button {
			.play_button-cls-2 {
				stroke:$gold;
			}
			.play_button-cls-4  {
				fill:$gold;
			}
			.play_button-cls-5 {
				stroke:$gold;
				fill:$gold;
			}
		}
		span.video_title {
			color:$gold;
		}
	}
	.video_thumb {
		width:100%;
		height:100%;
		display: block;
		height:389px;
	}
	.video_overlay {
		position: absolute;
		z-index:1;
		background:rgba(0, 0, 0, 0.5);
		width:100%;
		height:389px;
		top:0;
		left:0;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease-in-out;
	}
	svg#play_button {
		width:200px;
		    height: 200px;
		display: block;
		margin: -115px auto 0;
		position: relative;
		z-index:2;
		pointer-events: none; 
		.play_button-cls-1 {
			isolation:isolate;
		}
		.play_button-cls-2,.play_button-cls-5 {
			fill:none;
			stroke-miterlimit:10;
		}
		.play_button-cls-2 {	
			stroke:#17bbbd;
			stroke-width:2px;
			transition: all .2s ease-in-out;
		}
		.play_button-cls-3 {
			opacity:0.22;mix-blend-mode:multiply;
		}
		.play_button-cls-4 {
			fill:$teal;
			transition: all .2s ease-in-out;
		
		}
		.play_button-cls-5 {
			fill:$teal;
			stroke:$teal;
			transition: all .2s ease-in-out;
			
		}
		.play_button-cls-6 {
			fill:#fff;
		}
	}
	span.video_title {
		color:$bluedark;
		font-size:28px;
		font-family: $actamedium;
		line-height: 33px;
		display: block;
		text-align: center;
		margin:50px 0 0;
		transition: all 200ms ease-in-out;
		cursor: pointer;
	}
}


@media screen and (max-width: 1610px) {


.video_center {
	max-width:1300px;
}
	
	
.single_video {
	 margin-right: 3.5%;
	 width: 31%;
	 height: 530px;
	&:nth-of-type(3n + 3) {
		margin-right: 0%;
	}
	&:nth-last-of-type(-n + 3) {
		
	}
	&:hover {
		.video_overlay {
			
		}
		svg#play_button {
			.play_button-cls-2 {
				
			}
			.play_button-cls-4  {
				
			}
			.play_button-cls-5 {
			
			}
		}
		span.video_title {
			
		}
	}
	.video_thumb {
		
	}
	.video_overlay {
		
	}
	svg#play_button {
		 width: 183px;
		.play_button-cls-1 {
			isolation:isolate;
		}
		.play_button-cls-2,.play_button-cls-5 {
			
		}
		.play_button-cls-2 {	
		
		}
		.play_button-cls-3 {
			
		}
		.play_button-cls-4 {
			
		
		}
		.play_button-cls-5 {
			
			
		}
		.play_button-cls-6 {
			
		}
	}
	span.video_title {
		margin: 32px 0 0;
	}
}

	
} /* Media Query */




@media screen and (max-width: 1450px) {
	
	






	
	
	
}	
	
 /* Media Query */
 
 
 
 @media screen and (max-width: 1300px) {
	 
	 
.single_video {
	 width:47.5%;
	 margin-right:5%;
	&:nth-of-type(3n + 3) {
		margin-right:5%;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		margin-bottom: 58px;
	}
	&:nth-last-of-type(-n + 2) {
		margin-bottom: 0px;
	}
	&:hover {
		.video_overlay {
			
		}
		svg#play_button {
			
			.play_button-cls-2 {
				
			}
			.play_button-cls-4  {
				
			}
			.play_button-cls-5 {
			
			}
		}
		span.video_title {
			
		}
	}
	.video_thumb {
		
	}
	.video_overlay {
		
	}
	svg#play_button {
		 width: 197px;
		 margin: -113px auto 0;
		.play_button-cls-1 {
			isolation:isolate;
		}
		.play_button-cls-2,.play_button-cls-5 {
			
		}
		.play_button-cls-2 {	
		
		}
		.play_button-cls-3 {
			
		}
		.play_button-cls-4 {
			
		
		}
		.play_button-cls-5 {
			
			
		}
		.play_button-cls-6 {
			
		}
	}
	span.video_title {
		
	}
}
	 
	 
	 
	 
	 
 } /* Media Query */
 
 
 
 @media screen and (max-width: 1066px) {
	 
	 
	 
	 .video_center {
		 margin: 50px auto 0;
	 }
	 
	 
	.single_video {
	  margin-bottom: 58px;
	&:nth-of-type(3n + 3) {
		
	}
	&:nth-of-type(2n + 2) {
		
	}
	&:nth-last-of-type(-n + 3) {
		
	}
	&:hover {
		.video_overlay {
			
		}
		svg#play_button {
			
			.play_button-cls-2 {
				
			}
			.play_button-cls-4  {
				
			}
			.play_button-cls-5 {
			
			}
		}
		span.video_title {
			
		}
	}
	.video_thumb {
		
	}
	.video_overlay {
		
	}
	svg#play_button {
		 width: 167px;
		.play_button-cls-1 {
			isolation:isolate;
		}
		.play_button-cls-2,.play_button-cls-5 {
			
		}
		.play_button-cls-2 {	
		
		}
		.play_button-cls-3 {
			
		}
		.play_button-cls-4 {
			
		
		}
		.play_button-cls-5 {
			
			
		}
		.play_button-cls-6 {
			
		}
	}
	span.video_title {
		
	}
}
	 
	 
	 
 } /* Media Query */
 
 
 
 @media screen and (max-width: 800px) {
	 
	 
	 
	 
	 .video_center {
		 margin: 30px auto 0;
	 }
	 
	 
	.single_video {
	  margin-bottom: 48px;
	  width:100%;
	  margin-right:0;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		
	}
	&:nth-last-of-type(-n + 2) {
		margin-bottom: 48px;
	}
	&:nth-last-of-type(-n + 1) {
		margin-bottom: 0px;
	}
	&:hover {
		.video_overlay {
			
		}
		svg#play_button {
			
			.play_button-cls-2 {
				
			}
			.play_button-cls-4  {
				
			}
			.play_button-cls-5 {
			
			}
		}
		span.video_title {
			
		}
	}
	.video_thumb {
		
	}
	.video_overlay {
		
	}
	svg#play_button {
		 width: 167px;
		.play_button-cls-1 {
			isolation:isolate;
		}
		.play_button-cls-2,.play_button-cls-5 {
			
		}
		.play_button-cls-2 {	
		
		}
		.play_button-cls-3 {
			
		}
		.play_button-cls-4 {
			
		
		}
		.play_button-cls-5 {
			
			
		}
		.play_button-cls-6 {
			
		}
	}
	span.video_title {
		
	}
}
	 
	 
	 
	 
	 
	 
 } /* Media Query */
	