body.blog {
	.internal_main.default {
		padding-top: 250px;
	}
}

.post_wrapper {
	padding-top:7px;
}


.single_post_feed {
	padding:0 0 85px;
	border-bottom:1px solid #cbbfaa;
	&:not(:first-of-type) {
		padding-top:83px;
	}
	.meta {
		font-family: $mulireg;
		text-transform: uppercase;
		color:$bluedark;
		font-size:16px;
		line-height: 30px;
		letter-spacing: 0.2em;
		vertical-align:0;
		display: inline-block;
		&:before {
			content:"";
			width:6px;
			height:6px;
			display:inline-block;
			background: $teal;
			transform: rotate(-45deg);
			font-size:16px;
			vertical-align:0;
			position: relative;
			top:-3px;
			margin-right:10px;
		}
		span {
			font-family: $muliblack;
			color:$teal;
		}
	}
	h2 {
		font-size:24px;
		line-height: 30px;
		letter-spacing: 0.05em;
		margin-top:25px;
		display: block;
		margin-bottom:0;
		padding-bottom: 0px;
		&:after {
			content:"";
			display: block;
			width:42px;
			height:2px;
			background:#e4e7e8;
			margin:30px 0;
		}
		a {
			color:$gold;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$teal;
			}
		}
	}
	a.read_more {
		color:$teal;
		display: block;
		width:115px;
		text-transform: lowercase;
		font-size:34px;
		font-family: $ats;
		margin:47px 0 0;
		transition: all 200ms ease-in-out;
		&:hover {
			color:$gold;
			&:after {
				background: $gold;
			}
		}
		&:after {
			content:"";
			width:100%;
			height:2px;
			background: $teal;
			display: block;
			transition: all 200ms ease-in-out;
		}
	}
}

.sidebar_wrapper.blog_sidebar {
	.sidebar.pa_sidebar { 
		padding: 40px 0px 7px;
		transition: all 400ms ease-in-out;
		&:before {
			top: 42px;
			transition: all 400ms ease-in-out;
		}
		&:not(:first-of-type) {
			ul {
				li {
					text-transform: uppercase;
					font-family:$muliblack;
					letter-spacing: 0.15em;
					margin-bottom: 20px;
					font-size: 14px;
					line-height: 24px;
					padding: 6px 0 0;
				}
			}
		}
		h3 {
			position: relative;
			margin-bottom:0;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			color:$bluedark;
			&:after {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $bluedark;
				position: absolute;
				top: 14px;
				right: 38px;
				transition: all 200ms ease-in-out;
			}
		}
		ul {
			max-height:0;
			opacity: 0;
			visibility: hidden;
			transition: all 400ms ease-in-out;
			li {
				
			}
		}
	}
}


.sidebar_wrapper.blog_sidebar {
	.sidebar.pa_sidebar.open {
		padding-top:70px;
		&:before {
			top: 74px;
		}
		h3 {
			color:$gold;
			&:after {
				transform: rotate(-180deg);
				border-top: 5px solid $gold;
/*
				content:"";
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid $gold;
*/
			}
		}
		ul {
			max-height:3000px;
			opacity: 1;
			visibility: visible;
			padding:20px 0 40px;
			li {
				
			}
		}
	}
}

