.att_overview {
	display: flex;
	flex-wrap:wrap;
	max-width:1670px;
	margin:93px auto 0px;
}


.single_att_overview {
	width:28%;
	text-align: center;
	margin-right:8%;
	margin-bottom: 150px;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:nth-last-of-type(-n + 3) {
		margin-bottom:0;
	}
	&:hover {
		.single_att_inner {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
		span.att_title {
			color: $gold;
		}
	}
	.single_att_inner {
		position: relative;
		
		&:before {
			content:"View More";
			max-width:475px;
			display: flex;
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			background: rgba(0, 52, 84, 0.9);
			justify-content: center;
			align-items: center;
			color:#fff;
			font-family: $ats;
			text-transform: lowercase;
			font-size:40px;
			opacity: 0;
			visibility: hidden;
			transition: all 300ms ease-in-out;
		}
		img {
			display: block;
			max-width:100%;
			height:auto;
		}
	}
	span.att_name {
		display: block;
		font-size: 36px;
		color:$bluedark;
		font-family: $actamedium;
		line-height: 1;
		margin:58px 0 15px;
	}
	span.att_title {
		color:$teal;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.2em;
		font-family: $muliblack;
		transition: all 300ms ease-in-out;
	}
}