#section_one {
	width:100%;
	height:930px;
	background: url(#{$themePath}images/hero-laptop.jpg) top center no-repeat;
	background-size:cover;
	padding:0 75px;
}


.inner_section_one {
	color:#fff;
	max-width: 1434px;
	margin:0px auto;
	padding-top:240px;
	span.sec_one_content {
		display: block;
		font-family: $actamedium;
		font-size:112px;
		max-width: 720px;
		line-height: 112px;
		strong {
			font-family: $ats;
			color:$teal;
			font-weight: 300;
			font-style: none;
			font-size:150px;
			letter-spacing: -0.015em;
			display: inline-block;
			margin:0 0 0 20px;
		}
	}
}



.sec_one_form_wrapper {
	margin:65px 0 0;
	span.get_stared_here {
		text-transform: lowercase;
		color:$gold;
		font-family: $ats;
		font-size: 40px;
		margin-left:4px;
		display: block;
	}
}



.select_mock_wrapper.open {
	.first_input_wrapper {
			.mock_dropdown {
				opacity: 1;
				visibility: visible;
				max-height:3000px;
			}
		
	}
}




.select_mock_wrapper {
	width: 455px;
	margin:14px 0 0;
	position: relative;
	z-index: 3;
	cursor: pointer;
	.first_input_wrapper {
		width:100%;
		height:78px;
		display: flex;
		.input_left {
			background: #fff;
			flex-grow:1;
			color:$bluedark;
			font-family: $mulisemibold;
			font-size: 18px;
			letter-spacing: 0.07em;
			padding:30px 23px 0;
		}
		.input_right {
			flex-basis:90px;
			flex-shrink: 0;
			flex-grow: 0;
			background: $teal;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 200ms ease-in-out;
			&:before {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #fff;
				transition: all 200ms ease-in-out;
			}
		}
		
		.mock_dropdown {
			position: absolute;
			width:100%;
			top:78px;
			padding:0px 0 0;
			// display: none;
			max-height:0;
			opacity: 0;
			visibility: hidden;
			transition: all 200ms ease-in-out;
			ul {
				list-style: none;
				li {
					color:$bluedark;
					font-family: $mulisemibold;
					font-size: 16px;
					letter-spacing: 0.07em;
					padding: 23px 23px;
					border-bottom:1px solid #fff;
					transition: all 200ms ease-in-out;
					background: #f2eeea;
					&:hover {
						background: #f6f3ee;
						color:$teal;
					}
					&:last-of-type {
						margin-bottom:0;
					}
				}
			}
		}
	}
}


.select_mock_wrapper {
	&:hover {
		.first_input_wrapper {
			.input_right {
				background: $gold;
			}
		}
	}
}


.select_mock_wrapper.open {
	.first_input_wrapper {
		.input_right {
			&:before {
				transform: rotate(-180deg);
			}
		}
	}
}


.mobile_free_button {
	display: none;
}

@media screen and (max-width: 1450px) {
	




#section_one {
	 height: 779px;
}



   


.sec_one_form_wrapper {
	margin: 60px 0 0;
}


	
.inner_section_one {
	padding-top: 209px;
	span.sec_one_content {
		font-size: 92px;
		line-height: 92px;
		max-width: 620px;
		strong {
			font-size: 130px;
			margin-left:5px;
		}
	}
}

	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1370px) {
	
	
	
	
#section_one {
 background: url(#{$themePath}images/hero-tablet.jpg) top right no-repeat;
 background-size:cover;
}

	
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1270px) {
	
	
	#section_one {
		background-position: top center;
	}

	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	
	#section_one {
		background-size: 1160px;
		margin-top:-80px;
		height: 640px;
	}
	
	
	
.inner_section_one {
	padding-top: 183px;
	span.sec_one_content {
		font-size: 75px;
		line-height: 75px;
		max-width: 515px;
		strong {
			font-size:110px;
			margin-left:0
		}
	}
}


.sec_one_form_wrapper {
   margin: 39px 0 0;
   span.get_stared_here {
	   font-size:33px;
   }
}


.select_mock_wrapper {
  width: 368px;
	margin: 10px 0 0;
  .first_input_wrapper {
	  height: 62px;
	  .input_left {
		  font-size: 16px;
		  padding-top: 21px;
	  }
	  .input_right {
		  flex-basis:67px;
		  &:before {
			 border-left: 8px solid transparent;
			 border-right: 8px solid transparent;
			 border-top: 8px solid #fff;
		  }
	  }
	  .mock_dropdown {
		  top: 62px;
	  }
  } 
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	#section_one {
		padding: 0 54px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
#section_one {
	margin:0;
	background: url(#{$themePath}images/hero-mobile.jpg) top center no-repeat;
	background-size:cover;
	height: 373px;
	padding-left:10px;
	padding-right:10px;
	
	
}


.inner_section_one {
	text-align: center;
	padding-top: 206px;
	span.sec_one_content {
		font-size: 41px;
		line-height: 41px;
		margin-left:auto;
		margin-right:auto;
		max-width:300px;
		strong {
			font-size:58px;
		}
	}
}


.sec_one_form_wrapper {
	display: none;
	span.get_stared_here {
		
	}
}

	.mobile_free_button {
		display: block;
		width:100%;
		background:$teal;
		text-align: center;
		color:#fff;
		display: block;
		text-decoration: none;
		height:82px;
		font-family: $ats;
		text-transform: lowercase;
		font-size:35px;
		padding-top:27px;
		cursor: pointer;
	}

	
	
} /* Media Query */


@media screen and (max-width: 600px) {
	
	
	#section_one {
		background-position-x: -160px;
	}
	
	
	
	
	
	
} /* Media Query */