#section_six {
	background: url(#{$themePath}images/testimonials_bg.jpg) top left no-repeat;
	background-size: cover;
	width:100%;
	padding-bottom: 149px;
	padding-left:62px;
	padding-right:62px;
	overflow: hidden;
}

.sec_six_inner {
	max-width:1635px;
	margin:0 auto;
}

span.sec_six_title {
	font-family: $ats;
	font-size:140px;
	letter-spacing: -0.015em;
	color:$bluedark;
	text-transform: lowercase;
	display: block;
	padding:230px 0 0;
}



.sec_six_boxes_wrapper {
	margin:35px 0 0;
	position: relative;
}


.reviews_wrapper {
	max-width:1050px;
	width:100%;
	height:630px;
	position: relative;
	z-index:3;
	background: #f2eeea;
	box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
}


.reviews_img_wrapper {
	width:726px;
	top:-270px;
	right:120px;
	position: absolute;
	z-index:2;
	&:after {
		content:"";
		width:845px;
		height:760px;
		display: block;
		background:$gold;
		position: absolute;
		bottom:-175px;
		right:-120px;
	}
	img.laptop_image, img.tablet_image {
		display: none;
	}
	img {
		max-width:100%;
		height:auto;
		display: block;
		position: relative;
		z-index:1;
	}
}


.reviews_gold_box {
	width:850px;
	position: absolute;
	bottom:0;
	right:0;
	height:700px;
	background: $gold;	
}


.reviews_single_slide {
	padding:108px 118px;
	span.reviews_slide_content {
		color:$gold;
		font-size:55px;
		font-family: $actaextrabold;
		line-height: 75px;
		display: block;
	}
}


span.client_name {
	display: block;
	font-size:15px;
	font-family: $muliblack;
	letter-spacing: 0.1em;
	color:$bluedark;
	display: inline-lock;
	margin:25px 0 0 0;
	vertical-align: top;
	position: relative;
	&:before {
		content:"";
		width:41px;
		height:2px;
		background:$bluedark;
		display: inline-block;
		margin-right:36px;
		vertical-align: top;
		margin-top:7px;
	}
	&:after {
		content:"";
		width:6px;
		height:6px;
		transform: rotate(-45deg);
		background: $teal;
		position: absolute;
		top: 4px;
    left: 50px;
	}
}


.reviews_buttons {
	display: flex;
	bottom:0px;
	right:0;
	position: absolute;
	z-index:4;
	cursor: pointer;
	.reviews_back,.reviews_next {
		width:82px;
		height:90px;
		background:$bluedark;
		display: flex !important; /* slick override */
		justify-content: center;
		align-items: center;
	}
	.reviews_back {
		&:hover {
			&:before {
				border-right:8px solid $teal;
			}
		}
		&:before {
			content:"";
			display: block;
			width: 0; 
			height: 0; 
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent; 
			border-right:8px solid #fff;
			transition: all 200ms ease-in-out;
		}
		&:after {
			content:"";
			display: inline-block;
			width:1px;
			height:43px;
			background:$gold;
			position: relative;
			right:-38px;
		}
	}
	.reviews_next {
		&:hover {
			&:before {
				border-left: 8px solid $teal;
			}
		}
		&:before {
			content:"";
			display: block;
			width: 0; 
			height: 0; 
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 8px solid #fff;
			transition: all 200ms ease-in-out;
		}
	}
}


a.review_view_more {
	font-size:40px;
	font-family: $ats;
	text-decoration: none;
	color:$gold;
	text-transform: lowercase;
	display: inline-block;
	margin:55px 0 0;
	transition: all .2s ease-in-out;
	&:after {
		content:"";
		width:100%;
		height:2px;
		background: $gold;
		display: block;
		transition: all .2s ease-in-out;
	}
	&:hover {
		color:$bluedark;
		&:after {
			background: $bluedark;
		}
	}
}




@media screen and (max-width: 1670px) {
	
	
	
	
	
	#section_six {
		padding-right:0;
	}
	
	.reviews_wrapper {
		max-width: 957px;
		height: 604px;
	}



.reviews_single_slide {
	padding: 93px 118px;
	span.reviews_slide_content {
		font-size:50px;
		line-height: 70px;
	}
}




	
	
	
} /* Media Query */




@media screen and (max-width: 1550px) {
	
	
#section_six {
	padding-bottom: 102px;
}	
	
	
	
	
.reviews_img_wrapper {
	width:525px;
	right: 106px;
	top: -220px;
	display: block;
	&:after {
		width: 645px;
		bottom: -164px;
		height:730px;
	}
	img.desktop_image {
		display: none;
	}
	img.laptop_image {
		display: block;
	}
}


span.sec_six_title {
	padding: 180px 0 0;
	font-size:122px;
	margin-left:30px;
}


.reviews_single_slide {
	padding: 93px 4.5%;
}

    
	
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	
	
	
	.reviews_img_wrapper {
		&:after {
			width: 593px;
		}
		img {
			margin-left:50px;
		}
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1315px) {
	
	
	
	
	
	.reviews_wrapper {
		max-width: 897px;
	}
	
	
	.reviews_single_slide {
    padding: 83px 3%;
	}
	

	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1200px) {
	
	
	#section_six {
		padding:0 0 100px;
		position: relative;
		&:before {
			content:"";
			display: block;
			background: url(#{$themePath}images/reviews-desert-cactus-tablet.jpg) top left no-repeat;
			background-size:cover;
			width:100%;
			height:612px;
			position: absolute;
			top:0;
			left:0;
		}
		&:after {
			content:"";
			display: block;
			width:500px;
			height:325px;
			background: $gold;
			position: absolute;
			top:612px;
			right:0;
		}
	}
	
	
	.sec_six_inner {
    max-width: 717px;
    margin: 0 auto;
	}
	
	
	
	.reviews_wrapper {
		margin-left:auto;
		margin-right:auto;
		max-width: 767px;
		height: 589px;
	}
	
	
	.reviews_img_wrapper {
		display: none;
	}
	
	
	span.sec_six_title {
		position: relative;
		z-index: 3;
		color:#fff;
		font-size:113px;
		text-align: right;
		padding: 108px 0 0;
		
	}
	
	.reviews_single_slide {
		padding: 60px 3%;
		span.reviews_slide_content {
			font-size:40px;
			line-height: 62px;
		}
	}
	

	
	
} /* Media Query */




@media screen and (max-width: 1066px) {
	
	
	#section_six {
		padding:0 90px 120px;
		&:after {
			width:382px;
		}
	}
	
	.reviews_single_slide {
		padding-left:65px;
		padding-right:65px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	#section_six {
		padding-left:25px;
		padding-right:25px;
		padding-bottom:53px;
		// background-position: top center;
		&:before, &:after {
			display: none;
		}
	}
	
	span.sec_six_title {
		color:$bluedark;
		font-size:80px;
		text-align: center;
		line-height: 63px;
		max-width:215px;
		margin-left:auto;
		margin-right:auto;
		padding: 81px 0 0;
	}
	
	
	.reviews_wrapper {
		max-width: 427px;
		height:auto;
		padding-bottom:80px;
	}
	
	
	.sec_six_boxes_wrapper {
    margin: 48px 0 0;
    text-align: center;
	}
	
	
	.reviews_single_slide {
		padding:41px 25px;
		span.reviews_slide_content {
			font-size:29px;
			line-height: 41px;
		}
	}
	
	.reviews_single_slide {
		text-align: left;
	}
	
	
	
.reviews_buttons {
	width:100%;
	padding:12px 0;
	background: $bluedark;
	.reviews_back,.reviews_next {
		width:50%;
		height: 47px;
		
		&:after {
			display: none;
		}
	}
	.reviews_back {
		border-right:1px solid $gold;
		&:before {
			
		}
		&:after {
			
		}
	}
	.reviews_next {
		&:before {
			
			
		}
	}
}
	
	

a.review_view_more {
	font-size:35px;
	text-align: center;
	margin: 45px 0 0;
} 
	
	
	
} /* Media Query */