#section_two {
	
}


.sec_two_slider {
	display: flex;
}


.sec_two_single {
	width:33.3333%;
	height:715px;
	position: relative;
	text-align: center;
	a {
		display: block;
		text-decoration: none;
		position: relative;
		z-index: 2;
		span.header {
			display: block;
			text-transform: uppercase;
			font-family: $muliblack;
			font-size:17px;
			letter-spacing: 0.16em;
			color:#003454;
			margin-bottom:18px;
		}
		svg#new_pattern {
			width:120px;
			display:block;
			margin-left:auto;
			margin-right:auto;
		}
		span.sec_two_content {
			display: block;
			color:#003454;
			font-size:22px;
			line-height: 36px;
			letter-spacing: 0.03em;
			font-family: $actabook;
			max-width: 474px;
			margin:24px auto 0;
		}
		span.gold_link {
			color:$gold;
			font-size:25px;
			display: block;
			margin:35px 0 0;
			text-decoration:underline;
		}
		
	}
	.img_bg_wrapper {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			img.bg {
				max-width: 100%;
				height:auto;
			}
		}
}


.sec_two_single.one {
	a {
		padding-top:148px;
		svg#sp_one {
			width:110px;
			height:auto;
		}
		span.header {
			margin-top:27px;
		}
	}
	.img_bg_wrapper {
		top:75px;
	}
}


.sec_two_single.two {
	a {
		padding-top:125px;
		svg#sp_two {
			width:73px;
			height:auto;
		}
		span.header {
			margin-top:25px;
		}
	}
	.img_bg_wrapper {
		top:75px;
	}
}

.sec_two_single.three {
	a {
		padding-top:143px;
		svg#sp_three {
			width:78px;
			height:auto;
		}
		span.header {
			margin-top:33px;
		}
	}
	.img_bg_wrapper {
		top:69px;
	}
}