#section_one {
	width:100%;
	height:930px;
	background: url(#{$themePath}images/hero-laptop.jpg) top center no-repeat;
	background-size:cover;
	padding:0 75px;
}


.inner_section_one {
	color:#fff;
	max-width:1480px;
	margin:0px auto;
	padding-top:240px;
	span.sec_one_content {
		display: block;
		font-family: $actamedium;
		font-size:112px;
		max-width: 720px;
	}
}



.sec_one_form_wrapper {
	margin:70px 0 0;
	span.get_stared_here {
		text-transform: lowercase;
		color:$gold;
	}
}


.select_mock_wrapper {
	width:470px;
	margin:35px 0 0;
	.first_input_wrapper {
		width:100%;
		height:78px;
		display: flex;
		.input_left {
			background: #fff;
			flex-grow:1;
			color:$bluedark;
			font-family: $mulisemibold;
			font-size: 18px;
			letter-spacing: 0.07em;
			padding:30px 23px 0;
		}
		.input_right {
			flex-basis:90px;
			flex-shrink: 0;
			flex-grow: 0;
			background: $teal;
			display: flex;
			justify-content: center;
			align-items: center;
			&:before {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #fff;
			}
		}
	}
}


.mobile_free_button {
	display: none;
}

@media screen and (max-width: 1450px) {
	




#section_one {
	 height: 779px;
}



   


.sec_one_form_wrapper {
	margin: 60px 0 0;
}


	
.inner_section_one {
	padding-top: 209px;
	span.sec_one_content {
		font-size: 92px;
		line-height: 92px;
		max-width: 620px;
	}
}

	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1370px) {
	
	
	
	
#section_one {
 background: url(#{$themePath}images/hero-tablet.jpg) top right no-repeat;
 background-size:cover;
}

	
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1270px) {
	
	
	#section_one {
		background-position: top center;
	}

	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	
	#section_one {
		background-size: 1160px;
		margin-top:-80px;
	}
	
	
	
.inner_section_one {
	padding-top: 163px;
	span.sec_one_content {
		font-size: 75px;
		line-height: 75px;
		max-width: 485px;
	}
}


.sec_one_form_wrapper {
   margin: 49px 0 0;
}


.select_mock_wrapper {
  width: 368px;
  margin: 28px 0 0;
  .first_input_wrapper {
	  height: 62px;
	  .input_left {
		  font-size: 16px;
		  padding-top: 21px;
	  }
	  .input_right {
		  flex-basis:67px;
		  &:before {
			 border-left: 8px solid transparent;
			 border-right: 8px solid transparent;
			 border-top: 8px solid #fff;
		  }
	  }
  } 
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
#section_one {
	margin:0;
	background: url(#{$themePath}images/hero-mobile.jpg) top center no-repeat;
	background-size:cover;
	height: 373px;
	padding-left:10px;
	padding-right:10px;
}


.inner_section_one {
	text-align: center;
	padding-top: 206px;
	span.sec_one_content {
		font-size: 41px;
		line-height: 41px;
		margin-left:auto;
		margin-right:auto;
		max-width:300px;
	}
}


.sec_one_form_wrapper {
	display: none;
	span.get_stared_here {
		
	}
}

	.mobile_free_button {
		display: block;
		width:100%;
		background:$teal;
		text-align: center;
		a {
			color:#fff;
			display: block;
			text-decoration: none;
			height:82px;
		}
	}

	
	
} /* Media Query */


@media screen and (max-width: 700px) {
	
	
	
	
	
	
	
} /* Media Query */