#section_four {
	background: url(#{$themePath}images/results-bg.jpg) top center no-repeat;
	background-size:cover;
	width:100%;
	text-align: center;
	padding-bottom:350px;
	overflow: hidden;
}



span.sec_four_case_results {
	color:#fff;
	padding:280px 0px 0;
	display: block;
}


.case_results_slider {
	margin:160px auto 0;	
	display: flex;
	max-width:1610px;
	position: relative;
}


.case_results_single_slide {
	background:$bluedark;
	box-shadow: 6.889px 11.025px 48.96px 2.04px rgba(0, 0, 0, 0.45);
	height:520px;
	width:100%;
	margin:0 28px;
	svg#car {
		margin:143px 0 35px;
		width:154px;
		.car-cls-1{
			fill:none;
			stroke:#17bbbd;
			stroke-width:2;
			stroke-miterlimit:10;
		}
	}
	svg#heart {
		width:108px;
		margin:135px 0 38px;
		.heart-cls-1{
			fill:none;
			stroke:#17bbbd;
			stroke-width:2;
			stroke-miterlimit:10;
		}
	}
	svg#steth {
		width:90px;
		margin:125px 0 32px;
		.steth-cls-1{
			fill:#17bbbd;}.steth-cls-2{
				fill:none;stroke:#17bbbd;stroke-miterlimit:10;stroke-width:2px;}
	}
	span.case_amount {
		color:#fff;
		font-family: $actaextrabold;
		font-size:85px;
		display: block;
	}
	span.case_cat {
		color:$gold;
		font-family: $muliblack;
		font-size:15px;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		display: block;
		margin:22px 0 0;
	}
}


.case_results_single_slide {
	position: relative;
	width:30%;
	.hover_content {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#fff;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $actaextrabold;
		font-size:26px;
		color:$bluedark;
		line-height: 44px;
		padding:0 25px;
		transition: all .2s ease-in-out;
		span {
			max-width: 375px;
		}
	}
}


.case_results_single_slide {
	&:hover {
		.hover_content {
			opacity: 1;
			visibility: visible;
		}
	}
}


a.view_more {
	position: absolute;
	bottom:-80px;
	right:30px;
	color:$teal;
}


.mobile_buttons {
	display: none;
}

@media screen and (max-width: 1450px) {
	
	
	#section_four {
		padding-bottom: 282px;
	}
	
	    
	
	
	.case_results_slider {
		padding:0 23px;
		margin: 138px auto 0;
	}
	
	.case_results_single_slide {
		margin:0 22px;
		height: 435px;
		span.case_amount {
			font-size:78px;
		}
		svg#car {
			margin: 108px 0 31px;
			.car-cls-1 {
			
			}
		}
		svg#heart {
			margin: 97px 0 33px;
			.heart-cls-1 {
		
			}
		}
		svg#steth {
			margin: 86px 0 26px;
			.steth-cls-1 {
		
			}
			.steth-cls-2 {
		
			}
		}
	}
	
	
	span.sec_four_case_results {
		padding: 201px 0px 0;
	}
	
	
	
	
	
.case_results_single_slide {

	.hover_content {
		font-size: 23px;
		line-height: 39px;
		span {
			
		}
	}
}
	
	
	
	
	
	
} /* Media Query */





@media screen and (max-width: 1150px) {
	
	
	#section_four {
		padding-bottom: 120px;
	}
	
	
	span.sec_four_case_results {
		padding: 166px 0px 0;
	}
	
	
	.outer_slider {
		display: flex;
		justify-content: center;
		margin:0 auto;
		max-width: 656px;
		align-items: center;
	}
	
	
	.back_button {
		border-right:1px solid $gold;
		&:before {
			content:"";
			display: block;
			width: 0; 
			height: 0; 
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent; 
			border-right:9px solid #fff;
			margin:15px 0 0;
		}
		 
	}
	
	
	.next_button {
		border-left:1px solid $gold;
		&:before {
			content:"";
			display: block;
			width: 0; 
			height: 0; 
			border-top:9px solid transparent;
			border-bottom: 9px solid transparent;
			border-left: 9px solid #fff;
			margin:15px 0 0 25px;
		}
	}
	
	
	.back_button,.next_button {
		width:35px;
		height:50px;
		margin-top:-80px;
		cursor: pointer;
	}
	
	
	.case_results_slider {
		padding:0;
		max-width:575px;
		margin: 72px auto 0;
		display: block;
	}
	
	.case_results_single_slide {
		margin:40px 40px;
		height: 497px;
		svg#car {
			margin: 138px 0 31px;
			.car-cls-1 {
			
			}
		}
		svg#heart {
			margin: 117px 0 33px;
			.heart-cls-1 {
		
			}
		}
		svg#steth {
			margin: 106px 0 26px;
			.steth-cls-1 {
		
			}
			.steth-cls-2 {
		
			}
		}
	}
	
	
	
	a.view_more {
		position: static;
		display: block;
		margin:63px auto 45px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.outer_slider {
		max-width: 619px;
	}
	
	.case_results_slider {
		max-width: 524px;
	}
	
	.case_results_single_slide {
		margin:40px 40px;
	}
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	.outer_slider {
		display: block;
	}
	
	
	span.sec_four_case_results {
    padding: 109px 0px 0;
	}
	
	.case_results_slider {
		margin: 10px auto 0;
	}
	
	    
	.case_results_single_slide {
		height: 415px;
		.hover_content {
			font-size: 21px;
			line-height: 36px;
		}
		span.case_cat {
			margin: 7px 0 0;
		}
		span.case_amount {
			font-size:62px;
		}
		svg#car {
			width:129px;
			margin: 70px 0 24px;
			.car-cls-1 {
			
			}
		}
		svg#heart {
			width: 84px;
			margin: 68px 0 23px;
			.heart-cls-1 {
		
			}
		}
		svg#steth {
			width: 64px;
			margin: 62px 0 22px;
			.steth-cls-1 {
		
			}
			.steth-cls-2 {
		
			}
		}
	}
	
	.back_button, .next_button {
		display: none;
	}
	
	
	.mobile_buttons {
		position: absolute;
		left:0;
		top: 364px;
		width:100%;
		display: flex;
		justify-content: center;
		.mobile_back_button, .mobile_next_button {
			width:57px;
			height:50px;
		
		}
		.mobile_back_button {
			border-right:1px solid $gold;
			&:before {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent; 
				border-right:9px solid #fff;
				margin:15px 0 0;
			}
		}
		.mobile_next_button {
			&:before {
				content:"";
				display: block;
				width: 0; 
				float:right;
				height: 0; 
				border-top:9px solid transparent;
				border-bottom: 9px solid transparent;
				border-left: 9px solid #fff;
				margin:15px 0 0 25px;
			}
		}
	}
	
	
	
.case_results_single_slide {
	 margin: 40px 31px;
	.hover_content {
	
		z-index: 5000;
		span {
			
		}
	}
}

	a.view_more {
		margin: 25px auto 45px;
	}
	
} /* Media Query */


